/*GENERAL
-------------*/
.my-wrap{
    background: #FFFFFF;
    padding-top: $row-tall-margin;
    padding-bottom: $row-tall-margin;
}
.my-separ-b{
    border-bottom: 1px solid $font-color-sub;
}

/*GRID
-------------*/
#positioning {
    .row {
        span {
            display: block;
            background: #CCCCCC;
            min-height: 40px;
            line-height: 40px;
            text-align: center;
            color: #FFFFFF;
        }
    	.row {
    	    span {
    		  background: #999999;
    	    }
    	    .row span {
    		  background: #666666;
    	    }
    	}
    }
    .table-row {
        text-align: center;
            &>* {
                background: #999999;
                border: solid 1px rgba(0,0,0,0.2);
                border-top: none;
            }
            span {
                display: block;
                padding: 10px 0;
                background: none; 
                color: #ffffff;
            }
            &>.block {
               background: #666666 !important; 
            }
    }
}
    
/*HEADER
-------------*/
#main-header {
    //background: url('../img/sparrow_bg.png') no-repeat $main-color right bottom;    
    background-color: $main-color;

    padding: $row-grande-margin 0;
    @extend .clearfix;
    color: #FFFFFF;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid rgba(255,255,255,0.4);    
        h2{
            font-size: 4em; 
        }
}

/*NAVIGATION
-------------*/
.cssp-id {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0;
    line-height: $nav-bar-height;
    
	&,a {
	    color: $font-color1;	    
	}
	sup {
	    font-family: "arial", sans-serif;
	    font-weight: 100;
	    color: $font-color1;
	}
}
.cssp-nav-column>li>a {
	font-weight: bold;
}

/*TYPO
-------------*/
.font {
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, .h1-like, .h2-like, .h3-like, .h4-like, .h5-like, .h6-like{
    font-family: 'abelregular';
    @extend .font;
}
.title-header {
    border-bottom: 1px solid $font-color2;
    margin-bottom: $col-tall-margin;
}

/*THEME
-------------*/
.third-color.cssp-nav-bar>li a,.third-color.cssp-nav-column>li a {
    @if $YN-third-color-dark == false{color: $font-color1;}
    @if $YN-third-color-dark == true{color: $font-color2;}
    border-color: darken($third-color, 15%);
    &:hover {
        @if $YN-third-color-dark == false{color: $font-color1;}
        @if $YN-third-color-dark == true{color: #ffffff;}
        background: darken($third-color, 5%);
    }
}

/*CODE
--------------------------*/
pre.cssp-code {
    background-color: #000000;
    color: $font-color2;
    line-height: 1.4;
    padding: $col-tall-margin $col-tall-margin $col-tall-margin ($col-tall-margin + 30px);
	code {    
	    .cssp-tag {
		color: $important-color;
	    }
	    .cssp-class {
		color: $success-color;
	    }
	    .cssp-type {
		color: $error-color;
	    }
	}
}

@media screen and (max-width: 767px) {
    #demo-wrap{
       padding-left: 0;
       padding-right: 0; 
    }    
}


