/*GENERAL
-------------*/
.my-elements-page .cssp-wrapper #demo-wrap{
    background: #FFFFFF;
    @extend .shadow1;
    padding: $grande-margin;
}
.cssp-nav-column{
    margin-top: $tall-margin;
}

/*GRID
-------------*/
    #positioning{
        .my-grid span{
            display: block;
            background: #CCCCCC;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #FFFFFF;
        }
        .row{
            margin-bottom: $grande-margin;
        }
        .row:last-child{
            margin: 0;
        }
    }
    
/*BUTTON
-------------*/
#button [class^="button"]{
    margin: 0 $tall-margin $tall-margin 0;
}

/*STYLE
-------------*/
.title-plus-action{
    @extend .container-clear;
    
	h2{
	    display: inline;
	    float: left;
	}
	a[class^="button"]{
	    float: right;
	    margin: $tall-margin 0 0 0 !important;
	}
}  

/*FONT
-------------*/
#title div{
    h1, h2, h3, h4, h5, h6, .h1-like, .h2-like, .h3-like, .h4-like, .h5-like, .h6-like{
	font-family: "arial",sans-serif;
	color: $font-color1;
    }
}

/*FORM
-------------*/
