/*GENERAL
-------------*/
#demo-wrap{
    background: #FFFFFF;
    padding: $row-tall-margin $col-grande-margin $row-grande-margin $col-grande-margin;
    margin: $row-grande-margin 0 0 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
.separ-b{
    border-bottom: 1px solid $font-color-sub;
}
	
/*TYPO
-------------*/
.font{
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, .h1-like, .h2-like, .h3-like, .h4-like, .h5-like, .h6-like{
    font-family: 'abelregular';
    @extend .font;
}
.cssp-nav-column h2, 
.cssp-nav-column .h2-like{
    color: $second-color;
}
#title div{
    h1, h2, h3, h4, h5, h6, .h1-like, .h2-like, .h3-like, .h4-like, .h5-like, .h6-like{
	font-family: "arial",sans-serif;
	color: $font-color1;
    }
}

/*NAVIGATION
-------------*/
.cssp-id{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 0 0 $col-tall-margin;
    line-height: $nav-bar-height;
    
	&,a{
	    color: #ffffff;	    
	}
	sup{
	    font-family: "arial", sans-serif;
	    font-weight: 100;
	    color: $font-color2;
	}
}
.cssp-nav-column>li>a{
	font-weight: bold;
}

/*GRID
-------------*/
#positioning{
    .my-grid span{
        display: block;
        background: #CCCCCC;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
    }
    .row{
        margin-bottom: $row-grande-margin;
    }
    .row:last-child{
        margin: 0;
    }
}
    
/*HEADER
-------------*/
#main-header{
    //background: url('../img/sparrow_bg.png') no-repeat $main-color right bottom;    
    background-color: $main-color;

    padding: $row-grande-margin 0;
    @extend .clearfix;
    color: darken($second-color, 15%);
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid rgba(255,255,255,0.4);
    box-shadow: 0 -5px 3px darken($main-color, 5%) inset;        
        h2{
            font-size: 4em;
	    color: darken($second-color, 15%); 
        }
}

/*THEME
-------------*/
.thm-third{
    background-color: $third-color;
    @if $YN-third-color-dark == false{color: $font-color1;}
    @if $YN-third-color-dark == true{color: $font-color2;}
}
.thm-third.cssp-nav-bar>li a,.thm-third.cssp-nav-column>li a{
    @if $YN-third-color-dark == false{color: $font-color1;}
    @if $YN-third-color-dark == true{color: $font-color2;}
    border-color: darken($third-color, 15%);
    &:hover{
        @if $YN-third-color-dark == false{color: $font-color1;}
        @if $YN-third-color-dark == true{color: #ffffff;}
        background: darken($third-color, 5%);
    }
}

/*CODE
--------------------------*/
pre.cssp-code{
    background-color: #000000;
    color: $font-color2;
    line-height: 1.4;
    padding: $col-tall-margin;
    
	code{    
	    .cssp-tag{
		color: $important-color;
	    }
	    .cssp-class{
		color: $success-color;
	    }
	    .cssp-type{
		color: $error-color;
	    }
	}
}


