/*GENERAL
-------------*/
body{
    background: $third-color;
}
    /*Section*/
    .cssp-section{
	padding: 0 0 $grande-margin 0;
    }

    /*Demo container*/
    .my-container{
        margin: 0 auto 0 auto;
        padding: 0 0 $venti-margin 0;
    }
        /*IE hacks*/ 
        .lt-ie8 #demo-container{width: 980px;}
	
/*TYPO
-------------*/
@font-face {
    font-family: 'abelregular';
    src: url('../fonts/abel-regular-webfont.eot');
    src: url('../fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abel-regular-webfont.woff') format('woff'),
         url('../fonts/abel-regular-webfont.ttf') format('truetype'),
         url('../fonts/abel-regular-webfont.svg#abelregular') format('svg');
}
.font{
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, .h1-like, .h2-like, .h3-like, .h4-like, .h5-like, .h6-like{
    font-family: 'abelregular';
    @extend .font;
}
h2, .h2-like{
    color: $second-color;
}

/*NAVIGATION
-------------*/
.cssp-id{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 0 0 $tall-margin;
    line-height: $main-nav-height;
    
	&,a{
	    color: #ffffff;	    
	}
	sup{
	    font-family: "arial", sans-serif;
	    font-weight: 100;
	    color: $font-color2;
	}
}
.cssp-nav-column>li>a{
	    font-weight: bold;
}

/*HEADER
-------------*/
#main-header{
    //background: url('../img/sparrow_bg.png') no-repeat $main-color right bottom;
    background: $main-color;
    padding: $grande-margin 0;
    @extend .container-clear;
    color: $second-color;         
                
        h2{
            font-size: 4em;  
        }
        p{
            @extend .cssp-grande-text;
        }
}

/*FOOTER
-------------*/
#main-footer{
    margin: $grande-margin 0 0 0;
    padding: ($tall-margin * 2) 0;
    min-height: 200px;
    background-color: darken($third-color, 5%);
    border-top: 1px solid darken($third-color, 15%);
}


