/*WRAPPER
-------------*/
body.my-home .my-container{
    padding: $grande-margin 0 0 0;
    
        section h2{
            font-size: 2.8em;
        }
}

/*ASIDE
-------------*/
body.my-home aside{
    padding-bottom: $tall-margin;
    
        &>div{
            background-color: darken($third-color, 5%);
            
                &>div{
                    margin: $tall-margin 0;                       
                }
        }
}
    
/*PART (advantages)
-----------------------*/
#advantage-home div.span4 h3{
    border-bottom: 1px dotted $font-color-sub;
    padding: 0 0 $tall-margin 0;
}
    /*MEDIAQUERY
    -------------*/
    @media handheld, only screen and (max-width: 900px) {
        header#main-header div{ 
            h2{
                font-size: 2.8em;
                padding: 0;  
            }
        }
    }
    
    @media handheld, only screen and (max-width: 768px) {
        header#main-header{
            padding: $venti-margin 0;
            background: $main-color;
            
                div {
                    text-align: center;
                    
                        p{
                            padding: 0 $tall-margin;
                            font-size: 1em;
                        }
                }                
        }
    }
