//LAYOUT
.cssp-wrapper{
    width: 100%;
}
.row,
.table-row,
.cssp-wrapper{
    display: block;
}
[class^="column"] {
    display: block;
    width: 100%;
}

//GRID
@for $i from 1 through $column-number{
    .small-column#{$i} {
        width: (100%/$column-number)*$i;
    }
}

//FLOAT
.float-reset-mobile{
    float: none;
}

//MARGIN SYSTEM
/* margin left, right */
.small-ml0 {margin-left: 0;}
.small-ml1 {margin-left: $col-tall-margin;}
.small-ml2 {margin-left: $col-grande-margin;}
.small-ml3 {margin-left: $col-venti-margin;}
.small-mr0 {margin-right: 0;}
.small-mr1 {margin-right: $col-tall-margin;}
.small-mr2 {margin-right: $col-grande-margin;}
.small-mr3 {margin-right: $col-venti-margin;}
/* margin top, bottom */
.small-mt0 {margin-top: 0;}
.small-mt1 {margin-top: $row-tall-margin;}
.small-mt2 {margin-top: $row-grande-margin;}
.small-mt3 {margin-top: $row-venti-margin;}
.small-mb0 {margin-bottom: 0;}
.small-mb1 {margin-bottom: $row-tall-margin;}
.small-mb2 {margin-bottom: $row-grande-margin;}
.small-mb3 {margin-bottom: $row-venti-margin;}

//BOX
.cssp-box{
    padding: $row-tall-margin 0;
}

//TYPO
h1,.h1-like{font-size: 2.3em;}
h2,.h2-like{font-size: 2.1em;}
h3,.h3-like{font-size: 1.8em;}
h4,.h4-like{font-size: 1.5em;}
h5,.h5-like{font-size: 1.2em;}
h6,.h6-like{font-size: 1em;}

//FORM
form{
    width: 100%;
    display: block;
}

//STYLE
.bloc-level-1{
    margin: 0 0 $row-tall-margin 0;
} 

//NAVIGATION  
.cssp-nav-bar{
    display: block;
    width: 100%;
    clear: both;
    text-align: center;
        &>li{
            display: block;
                a{
                    display: block;
                    padding: 0;
                    border-top: 1px solid;
                    border-left: 0px solid;

                }
                &:last-child a{
                    border-right: 0px solid;
                }
        }
}
/*nav buttons close and open visibility management very important for ":target" system*/
.cssp-close-nav,
.cssp-oppen-nav{
    line-height: $nav-bar-height;
    margin-bottom: 0;
    margin-top: 0;
}
#cssp-target:not(:target) .cssp-oppen-nav, #cssp-target:target .cssp-close-nav {display: inline-block !important;}
#cssp-target:not(:target) .cssp-close-nav, #cssp-target:target .cssp-oppen-nav {display: none !important;}
/*it's important to give "cssp" prefix ID to your body if it's not possible create a div element after body tag and target it*/
#cssp-target:not(:target) .cssp-nav-bar>li a{
    height: 0;
    overflow: hidden;
    border-top: 0px solid rgba(150,150,150,0.5);
    border-bottom: 0px solid rgba(150,150,150,0.5);
}  

//VISIBILITY
.small-visibility-false{display: none !important;}
.small-visibility-true{display: inherit !important;}