//GRID
@for $i from 1 through $column-number{
    .s-column#{$i} {
        width: (100%/$column-number)*$i;
    }
}

//MARGIN SYSTEM
/* margin left, right */
.s-ml0 {margin-left: 0;}
.s-ml1 {margin-left: $col-tall-margin;}
.s-ml2 {margin-left: $col-grande-margin;}
.s-ml3 {margin-left: $col-venti-margin;}
.s-mr1 {margin-right: $col-tall-margin;}
.s-mr2 {margin-right: $col-grande-margin;}
.s-mr3 {margin-right: $col-venti-margin;}
/* margin top, bottom */
.s-mt0 {margin-top: 0;}
.s-mt1 {margin-top: $row-tall-margin;}
.s-mt2 {margin-top: $row-grande-margin;}
.s-mt3 {margin-top: $row-venti-margin;}
.s-mb1 {margin-bottom: $row-tall-margin;}
.s-mb2 {margin-bottom: $row-grande-margin;}
.s-mb3 {margin-bottom: $row-venti-margin;}

//VISIBILITY
.s-visibility-false{display: none !important;}
.s-visibility-true{display: inherit !important;}