//MARGIN SYSTEM
/* margin left, right */
.ml0-tablet {margin-left: 0;}
.ml1-tablet {margin-left: $col-tall-margin;}
.ml2-tablet {margin-left: $col-grande-margin;}
.ml3-tablet {margin-left: $col-venti-margin;}
.mr1-tablet {margin-right: $col-tall-margin;}
.mr2-tablet {margin-right: $col-grande-margin;}
.mr3-tablet {margin-right: $col-venti-margin;}
/* margin top, bottom */
.mt0-tablet {margin-top: 0;}
.mt1-tablet {margin-top: $row-tall-margin;}
.mt2-tablet {margin-top: $row-grande-margin;}
.mt3-tablet {margin-top: $row-venti-margin;}
.mb1-tablet {margin-bottom: $row-tall-margin;}
.mb2-tablet {margin-bottom: $row-grande-margin;}
.mb3-tablet {margin-bottom: $row-venti-margin;}

//VISIBILITY
.visibility-tablet-false{display: none !important;}
.visibility-tablet-true{display: inherit !important;}