/*layout.scss is the elements position stylesheet*/

/*GENERAL
-------------*/
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
}

/*WRAPPER
-------------*/
.cssp-wrapper{
    position: relative;
    margin: 0 auto;
    width: $wrapper-width;
    max-width: $wrapper-max-width;
    @extend .clearfix;
}	

/*GRID
-------------*/
/*row and span float system*/
.row {
	@extend .clearfix;
}
[class^="span"] {
	display: block;
	padding: 0 $col-tall-margin;
	@extend .float-left;

	//nested elements
	.row,.t-row {
		margin-left: (-$col-tall-margin);
		margin-right: (-$col-tall-margin);
	}
}
/*row and span float system*/
.t-row {
    display: table;
	width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
	
/*"t-span" can works without "t-row" system*/
[class^="t-span"] {
	display: table-cell;
	padding: 0 $col-tall-margin;
	vertical-align: top;
}

/* grid span size setting */
@for $i from 1 through $span-number{
	.span#{$i},.t-span#{$i} {
		width: (100%/$span-number)*$i;
	}
}

/*FLOAT
-------------*/ 
.clearfix{
    clear: both;
    zoom: 1; /*IE hacks*/

	&:after, &:before{
	    content: "";
	    display: table;
	    clear: both;
	}
}
.clearfix-overflow{
    overflow: hidden;
    zoom: 1; /*IE hacks*/
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}

/*MARGIN SYSTEM
-------------------------*/
/* margin left, right */
.ml1 {margin-left: $col-tall-margin;}
.ml2 {margin-left: $col-grande-margin;}
.ml3 {margin-left: $col-venti-margin;}
.mr1 {margin-right: $col-tall-margin;}
.mr2 {margin-right: $col-grande-margin;}
.mr3 {margin-right: $col-venti-margin;}

/* margin top, bottom */
.mt1 {margin-top: $row-tall-margin;}
.mt2 {margin-top: $row-grande-margin;}
.mt3 {margin-top: $row-venti-margin;}
.mb1 {margin-bottom: $row-tall-margin;}
.mb2 {margin-bottom: $row-grande-margin;}
.mb3 {margin-bottom: $row-venti-margin;}

/*BOX
-------------------------*/
.cssp-box{
    padding: $row-grande-margin $col-grande-margin;
}

/*WIDGET
-------------------------*/
/*inline navigation*/
.cssp-nav-bar{
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: table;
	&>li{
		display: table-cell;
		a{
		    display: block;
		    padding: 0 $col-grande-margin;
		    vertical-align: middle;
		    line-height: $nav-bar-height;
		    @if $YN-nav-bar-border == true{border-left: 1px solid;}
		    
		}
		@if $YN-nav-bar-border == true{
		    &:last-child a{border-right: 1px solid;}
		} 
	}
}
/*column navigation*/
.cssp-nav-column{
    margin: 0;
    padding-left: 0;
    list-style: none;
	&>li{
		a{
		    display: block;
		    padding: ($row-tall-margin) $col-tall-margin;
		    border-bottom: 1px solid;
		}
		ul{
		    margin: 0;
		    padding-left: 0;
		    list-style: none;
			&>li a{
			    padding-left: $col-grande-margin;
			}
		}
	}
}
/*fluid image
- image never exceed is own size*/
.cssp-flex-img{
    max-width: 100%;
}
    .lt-ie8 .cssp-flex-img{
	width: 100%;
    }

/*VISIBILITY
-------------------------*/

/*desktop visibility*/
.visibility-desktop-false{
    display: none;
}