/*layout.scss is the elements position stylesheet*/

//GENERAL
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
}

//WRAPPER
.cssp-wrapper {
    margin: 0 auto;
    width: $wrapper-width;
    max-width: $wrapper-max-width;
    @extend .clearfix;
}	

//GRID
/* grid column size setting */
@for $i from 1 through $column-number {
	.column#{$i} {
		width: (100%/$column-number)*$i;
	}
}
/*row and column float system*/
.row { 
	@extend .clearfix; 
		&>[class^="column"] {
			padding-left: $col-tall-margin;
			padding-right: $col-tall-margin;
			@extend .float-left;
		}
		.row { 
			margin-left: -$col-tall-margin;
			margin-right: -$col-tall-margin;
		}
}
/* row system for table perfect for vertical align */
.table-row {
    display: table;
    width: 100%;
    border-collapse: collapse;
	    &>* {
			display: table-cell;
			padding-left: 0;
			padding-right: 0;
	    }
	    .block{
	    	display: block;
	    	float: none;
	    }
}

//FLOAT & RESET
.clearfix {
    clear: both;
    *zoom: 1;
		&:after, &:before{
		    content: "";
		    display: table;
		    clear: both;
		}
}
.clearfix-overflow {
    overflow: hidden;
    *zoom: 1;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}

//MARGIN SYSTEM
/* margin left, right */
.ml1 {margin-left: $col-tall-margin;}
.ml2 {margin-left: $col-grande-margin;}
.ml3 {margin-left: $col-venti-margin;}
.mr1 {margin-right: $col-tall-margin;}
.mr2 {margin-right: $col-grande-margin;}
.mr3 {margin-right: $col-venti-margin;}
/* margin top, bottom */
.mt1 {margin-top: $row-tall-margin;}
.mt2 {margin-top: $row-grande-margin;}
.mt3 {margin-top: $row-venti-margin;}
.mb1 {margin-bottom: $row-tall-margin;}
.mb2 {margin-bottom: $row-grande-margin;}
.mb3 {margin-bottom: $row-venti-margin;}

//MISC
.cssp-box {
	padding: $row-grande-margin $col-grande-margin;
}
.cssp-inline {
	display: inline-block;
	line-height: 1;
} 
/*vertical align*/
.vertical-top {vertical-align: top;}
.vertical-middle {vertical-align: middle;}
.vertical-bottom {vertical-align: bottom;}

//NAVIGATION
/*inline navigation*/
.cssp-nav-bar {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: table;
		&>li {
			display: table-cell;
			vertical-align: middle;
				&>a {
				    display: inline-block;
				    line-height: $nav-bar-height; 
				    height: $nav-bar-height;
				    padding: 0 $col-grande-margin;
				    @if $YN-nav-bar-border == true {
						border-left: 1px solid;
				    }
				    -webkit-transition: height 0.3s ease-out, border 0.3s ease-out;
				    transition: height 0.3s ease-out, border 0.3s ease-out;
				}
				@if $YN-nav-bar-border == true{
				    &:last-child a{border-right: 1px solid;}
				} 
		}
}
/*column navigation*/
.cssp-nav-column {
    margin: 0;
    padding-left: 0;
    list-style: none;
	&>li {
		a {
		    display: block;
		    padding: ($row-tall-margin) $col-tall-margin;
		    border-bottom: 1px solid;
		}
		ul {
		    margin: 0;
		    padding-left: 0;
		    list-style: none;
			&>li a {
			    padding-left: $col-grande-margin;
			}
		}
	}
}

//IMAGES
/*fluid image*/
.cssp-flex-img {
    max-width: 100%;
}
    .lt-ie8 .cssp-flex-img {
	width: 100%;
    }

//VISIBILITY
/*desktop visibility*/
.m-visibility-false {
    display: none !important;
}