/*layout.scss is the elements position stylesheet*/

/*GENERAL
-------------*/
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/*WRAPPER
-------------*/
.cssp-wrapper{
    position: relative;
    margin: 0 auto;
    width: $wrapper-width;
    max-width: $wrapper-max-width;
}	

/*GRID
-------------*/
/*row and span with float system*/
.row {
    @extend .clearfix;
	&>[class^="span"] {
	    float: left;
	    padding: 0 $col-tall-margin; 
	}
	//nesting row
	.row,
	.t-row {
	   margin: 0 (-$col-tall-margin); 
	}
}

/*row and span with table system*/
.t-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
	&>[class^="span"]{
	    @extend  .t-span;
	}
}

/*"t-span" can works without "t-row" system*/
.t-span {
	display: table-cell;
	vertical-align: top;
	padding: 0 $col-tall-margin; 
}

/*grid span size setting*/
.span1 {width: (100% / 12);}
.span2 {width: (100% / 6);}
.span3 {width: (100% / 4);}
.span4 {width: (100% / 3);}
.span5 {width: ((100% / 12)*5);}
.span6 {width: (100% / 2);}
.span7 {width: ((100% / 12)*7);}
.span8 {width: ((100% / 12)*8);}
.span9 {width: ((100% / 12)*9);}
.span10 {width: ((100% / 12)*10);}
.span11 {width: ((100% / 12)*11);}
.span12 {width: (100%);}

/*FLOAT
-------------*/ 
.clearfix{
    clear: both;	
	&:after, &:before{
	    content: "";
	    display: table;
	    clear: both;
	}
}
.clearfix-overflow{
    overflow: hidden;
    zoom: 1; /*IE hacks*/
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}

/*MARGIN SYSTEM
-------------------------*/
.ml1 {margin-left: $col-tall-margin;}
.ml2 {margin-left: $col-grande-margin;}
.ml3 {margin-left: $col-venti-margin;}
.mr1 {margin-right: $col-tall-margin;}
.mr2 {margin-right: $col-grande-margin;}
.mr3 {margin-right: $col-venti-margin;}

.mt1 {margin-top: $row-tall-margin;}
.mt2 {margin-top: $row-grande-margin;}
.mt3 {margin-top: $row-venti-margin;}
.mb1 {margin-bottom: $row-tall-margin;}
.mb2 {margin-bottom: $row-grande-margin;}
.mb3 {margin-bottom: $row-venti-margin;}

/*WIDGET
-------------------------*/
/*inline navigation*/
.cssp-nav-bar{
    margin: 0;
    padding-left: 0;
	&>li{
	    list-style: none;
	    display: inline;
		a{
		    display: inline-block;
		    padding: 0 $col-grande-margin;
		    vertical-align: middle;
		    line-height: $main-nav-height;
		    border-left: 1px solid;
		}
		&:last-child a{
		    border-right: 1px solid;
		}
	}
}
/*column navigation*/
.cssp-nav-column{
    margin: 0;
    padding-left: 0;
    list-style: none;
	&>li{
		a{
		    display: block;
		    padding: ($row-tall-margin) $col-tall-margin;
		    border-bottom: 1px solid;
		}
		&:last-child a{
		    border-bottom: 1px solid;
		}
	}
	ul{
	    margin: 0;
	    padding-left: 0;
	    list-style: none;
		&>li a{
		    padding-left: $col-grande-margin;
		}
	}
}

/*fluid image
- image never exceed is own size*/
.cssp-flex-img{
    max-width: 100%;
}
    /*replace "max-width" by "width" for ie7 and ie6*/
    .lt-ie8 .cssp-flex-img{
	width: 100%;
    }

/*VISIBILITY
-------------------------*/

/*desktop visibility*/
.visibility-desktop-false{
    display: none;
}