/*style.scss is the look and feel stylesheet*/

/*BUTTONS
-------------------------*/
.btn{
    display: inline-block;
    padding: 7px 14px;
    font-size: 0.9em;
    color: $font-color1;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    border-style: solid;
    border-width: 1px;	
    background-color: darken($default-color, 8%);
    @if $YN-default-color-dark == true{color: #FFFFFF;}
    border-color: darken($default-color, 25%);
    @extend .default-color-gradient;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 -1px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 -1px 0 rgba(0,0,0,0.2) inset;	
	&:hover,&:focus{
	    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.4) inset;
	    box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;	    
	}	
    -moz-transition: box-shadow 0.3s ease-out, background-color 0.3s ease-out;
    -webkit-transition: box-shadow 0.3s ease-out, background-color 0.3s ease-out;
    -ms-transition: box-shadow 0.3s ease-out, background-color 0.3s ease-out;
    -o-transition: box-shadow 0.3s ease-out, background-color 0.3s ease-out;
    transition: box-shadow 0.3s ease-out, background-color 0.3s ease-out;
	&:hover{
	    background: darken($default-color, 8%);
	}
}
.btn-block{
    display: block;
    padding: 7px 0px;
}
ul.btn-multi{
    padding: 0;
    margin: 0 $col-tall-margin $row-tall-margin 0; 
    display: inline-block;  
    
	li{
	    list-style: none;
	    display: inline;
	    
		a{
		    @extend .rounded-none; 
		    @extend .btn;
		    margin: 0 !important;
		    border-left-width: 0;
		}                
		&:last-child a{
		    border-radius: 0 3px 3px 0;
		}
		&:first-child a{
		    border-radius: 3px 0 0 3px;
		    border-left-width: 1px;
		}
	}
}
    /*size btn*/
    .small-size{
	padding: 3px 8px;
	font-size: 0.85em;
	font-weight: normal;
    }
    .king-size{
	padding: 10px 18px;
	font-size: 1.1em;
    }

/*THEMES
-------------------------*/
.main{
    background-color: darken($main-color, 8%);
    border-color: darken($main-color, 20%);
    @if $YN-main-color-dark == true{color: #FFFFFF;}
    @extend .main-color-gradient;
	&:hover{
	    background: darken($main-color, 8%);
	}
}
.important{
    background-color: darken($important-color, 8%);
    border-color: darken($important-color, 20%);
    @if $YN-important-color-dark == true{color: #FFFFFF;}
    @extend .important-color-gradient;
	&:hover{
	    background: darken($important-color, 12%);
	}
}
.success{
    background-color: darken($success-color, 8%);
    border-color: darken($success-color, 20%);
    @if $YN-success-color-dark == true{color: #FFFFFF;}
    @extend .success-color-gradient;
	&:hover{
	    background: darken($success-color, 10%);
	}
}
.error{
    background-color: darken($error-color, 8%);
    border-color: darken($error-color, 20%);
    @if $YN-error-color-dark == true {color: #FFFFFF;}
    @extend .error-color-gradient;
	&:hover{
	    background: darken($error-color, 10%);
	}
}
.dark{
    background-color: darken($dark-color, 8%);
    border-color: darken($dark-color, 50%);
    @if $YN-dark-color-dark == true{color: #FFFFFF;}
    @extend .dark-color-gradient;
	&:hover{
	    background: darken($dark-color, 12%);
	}
}

/*NAVIGATION THEMES
-------------------------*/
.thm-nav-dark{
    background-color: $dark-color;
    color: #ffffff;
    
	ul>li a{
	    color: $font-color2;
	    border-color: lighten($dark-color, 15%) !important;
	
		&:hover{
		    background: darken($dark-color, 8%);
		    color: #FFFFFF;
		}
	}
}
.thm-nav-main{
    background-color: $main-color;
    color: #ffffff;
    
	ul>li a{
	    color: $font-color1;
	    border-color: darken($main-color, 15%) !important;
	
		&:hover{
		    background: darken($main-color, 5%);
		}
	}
}
.thm-nav-third{
    background-color: $third-color;
    color: #ffffff;
    
	ul>li a{
	    color: $font-color1;
	    border-color: darken($third-color, 15%) !important;
	
		&:hover{
		    background: darken($third-color, 5%);
		}
	}
}

/*BOX
-------------------------*/
.cssp-box{
    padding: $row-tall-margin $col-grande-margin;
}

/*SECTION-HEADER
-------------------------*/
	.cssp-section-header{
		border-bottom: 1px solid $font-color-sub;
		margin: 0 0 $row-grande-margin 0;
	}

/*GRADIENT
------------------*/
.default-color-gradient{
    background-image: $default-color; /* Old browsers */
    background-image: -moz-linear-gradient(top,  $default-color 0%, darken($default-color, 6%) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$default-color), color-stop(100%,darken($default-color, 6%))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  $default-color 0%,darken($default-color, 6%) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  $default-color 0%,darken($default-color, 6%) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  $default-color 0%,darken($default-color, 6%) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  $default-color 0%,darken($default-color, 6%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$default-color', endColorstr='darken($default-color, 6%)',GradientType=0 ); /* IE6-9 */
}
.main-color-gradient{
    background-image: $main-color; /* Old browsers */
    background-image: -moz-linear-gradient(top,  $main-color 0%, darken($main-color, 6%) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$main-color), color-stop(100%,darken($main-color, 6%))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  $main-color 0%,darken($main-color, 6%) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  $main-color 0%,darken($main-color, 6%) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  $main-color 0%,darken($main-color, 6%) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  $main-color 0%,darken($main-color, 6%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$main-color', endColorstr='darken($main-color, 6%)',GradientType=0 ); /* IE6-9 */
}
.important-color-gradient{
    background-image: $important-color; /* Old browsers */
    background-image: -moz-linear-gradient(top,  $important-color 0%, darken($important-color, 14%) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$important-color), color-stop(100%,darken($important-color, 14%))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  $important-color 0%,darken($important-color, 14%) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  $important-color 0%,darken($important-color, 14%) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  $important-color 0%,darken($important-color, 14%) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  $important-color 0%,darken($important-color, 14%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$important-color', endColorstr='darken($important-color, 14%)',GradientType=0 ); /* IE6-9 */
}
.success-color-gradient{
    background-image: $success-color; /* Old browsers */
    background-image: -moz-linear-gradient(top,  $success-color 0%, darken($success-color, 14%) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$success-color), color-stop(100%,darken($success-color, 14%))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  $success-color 0%,darken($success-color, 14%) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  $success-color 0%,darken($success-color, 14%) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  $success-color 0%,darken($success-color, 14%) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  $success-color 0%,darken($success-color, 14%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$success-color', endColorstr='darken($success-color, 14%)',GradientType=0 ); /* IE6-9 */
}
.error-color-gradient{
    background-image: $error-color; /* Old browsers */
    background-image: -moz-linear-gradient(top,  $error-color 0%, darken($error-color, 14%) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$error-color), color-stop(100%,darken($error-color, 14%))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  $error-color 0%,darken($error-color, 14%) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  $error-color 0%,darken($error-color, 14%) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  $error-color 0%,darken($error-color, 14%) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  $error-color 0%,darken($error-color, 14%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$error-color', endColorstr='darken($error-color, 14%)',GradientType=0 ); /* IE6-9 */
}
.dark-color-gradient{
    background-image: $dark-color; /* Old browsers */
    background-image: -moz-linear-gradient(top,  $dark-color 0%, darken($dark-color, 14%) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$dark-color), color-stop(100%,darken($dark-color, 14%))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  $dark-color 0%,darken($dark-color, 14%) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  $dark-color 0%,darken($dark-color, 14%) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  $dark-color 0%,darken($dark-color, 14%) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  $dark-color 0%,darken($dark-color, 14%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark-color', endColorstr='darken($dark-color, 14%)',GradientType=0 ); /* IE6-9 */
}

/*BOX-SHADOW
------------------*/
.shadow1{
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -o-border-radius: 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

    /*rounded*/
    .rounded1{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
    }
    
    /*perfect for input type search*/
    .rounded2{
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-ms-border-radius: 90px;
	-o-border-radius: 90px;
	border-radius: 90px;
    }
    
    /*for circle block*/
    .circle{
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
    }
    .rounded-none{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
    }

/*@EXTEND
------------------*/	
    /*transition*/
    .transition2{
	transition: all 0.4s cubic-bezier(0.94, 0.06, 0.36, 0.68);
	-moz-transition: all 0.4s cubic-bezier(0.94, 0.06, 0.36, 0.68);
	-webkit-transition: all 0.4s cubic-bezier(0.94, 0.06, 0.36, 0.68);
	-ms-transition: all 0.4s cubic-bezier(0.94, 0.06, 0.36, 0.68);
	-o-transition: all 0.4s cubic-bezier(0.94, 0.06, 0.36, 0.68);
    }

