/*style.scss is the look and feel stylesheet*/

//THEMES
.thm-main{
    background-color: $main-color;
    @if $YN-main-color-dark == false{color: $font-color1;}
    @if $YN-main-color-dark == true{color: $font-color2;}
}
    .thm-main.cssp-nav-bar>li a,.thm-main.cssp-nav-column>li a{
	@if $YN-main-color-dark == false{color: $font-color1;}
	@if $YN-main-color-dark == true{color: $font-color2;}
	border-color: darken($main-color, 15%);
	&:hover{
	    @if $YN-main-color-dark == false{color: $font-color1;}
	    @if $YN-main-color-dark == true{color: #ffffff;}
	    background: darken($main-color, 5%);
	}
    }
.thm-dark{
    background-color: $dark-color;
    @if $YN-dark-color-dark == false{color: $font-color1;}
    @if $YN-dark-color-dark == true{color: $font-color2;}
}
    .thm-dark.cssp-nav-bar>li a,.thm-dark.cssp-nav-column>li a{
	@if $YN-dark-color-dark == false{color: $font-color1;}
	@if $YN-dark-color-dark == true{color: $font-color2;}
	border-color: lighten($dark-color, 15%);
	&:hover{
	    @if $YN-dark-color-dark == false{color: $font-color1;}
	    @if $YN-dark-color-dark == true{color: #ffffff;}
	    background: darken($dark-color, 8%);
	}
    }
    
//BUTTONS
.btn{
    display: inline-block;
    padding: $row-tall-margin $col-tall-margin;
    vertical-align: middle;
    font-size: 0.9em;
    color: $font-color1;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    @extend .default-color;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 -1px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 -1px 0 rgba(0,0,0,0.2) inset;
    -webkit-transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
    transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
        @if $YN-btn-border == true{
        border-style: solid;
        border-width: 1px;
	border-color: darken($default-color, 25%);
        }
        @if $YN-btn-border-radius == true{border-radius: $btn-border-radius;}
        @if $YN-default-color-dark == true{color: #FFFFFF;}
	&:hover,&:focus{
	    background: darken($default-color, 8%);
	    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.4) inset;
	    box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;	
	} 
}
/*take all width*/
.btn-block{
    display: block;
    padding: 7px 0px;
}
/*pagination*/
.btn-multi{
    padding: 0;
    margin: 0 $col-tall-margin $row-tall-margin 0; 
    display: inline-block;  
	li{
	    list-style: none;
	    display: table-cell;
		a{
		    @extend .rounded-none; 
		    @extend .btn;
		    border-left-width: 0;
		}                
		&:last-child a{
		    border-radius: 0 3px 3px 0;
		}
		&:first-child a{
		    border-radius: 3px 0 0 3px;
		    border-left-width: 1px;
		}
	}
}
    /*size btn*/
    .tiny-size{
	padding: 3px 8px;
	font-size: 0.85em;
	font-weight: normal;
    }
    .king-size{
	padding: 10px 18px;
	font-size: 1.1em;
    }

//THEME BUTTON
/*style for button*/
.btn-main{
    border-color: darken($main-color, 15%);
    @if $YN-main-color-dark == true{color: #FFFFFF;}
    @extend .main-color;
	&:hover,&:focus{
	    background: darken($main-color, 5%);
	}
}
.btn-important{
    border-color: darken($important-color, 15%);
    @if $YN-important-color-dark == true{color: #FFFFFF;}
    @extend .important-color;
	&:hover,&:focus{
	    background: darken($important-color, 5%);
	}
}
.btn-success{
    border-color: darken($success-color, 15%);
    @if $YN-success-color-dark == true{color: #FFFFFF;}
    @extend .success-color;
	&:hover,&:focus{
	    background: darken($success-color, 5%);
	}
}
.btn-error{
    border-color: darken($error-color, 15%);
    @if $YN-error-color-dark == true {color: #FFFFFF;}
    @extend .error-color;
	&:hover,&:focus{
	    background: darken($error-color, 5%);
	}
}
.btn-dark{
    border-color: darken($dark-color, 50%);
    @if $YN-dark-color-dark == true{color: #FFFFFF;}
    @extend .dark-color;
	&:hover,&:focus{
	    background: darken($dark-color, 12%);
	}
}

//COLOR BACKGROUND
.default-color{
    background-color: $default-color;
    @if $YN-btn-gradient == true{
	background-image: -webkit-linear-gradient(top,  $default-color 0%,darken($default-color, 6%) 100%);
	background-image: linear-gradient(to bottom,  $default-color 0%,darken($default-color, 6%) 100%);
    }
}
.main-color{
    background-color: $main-color; 
    @if $YN-btn-gradient == true{
	background-image: -webkit-linear-gradient(top,  $main-color 0%,darken($main-color, 6%) 100%); 
	background-image: linear-gradient(to bottom,  $main-color 0%,darken($main-color, 6%) 100%);
    }
}
.important-color{
    background-color: $important-color;
    @if $YN-btn-gradient == true{
	background-image: -webkit-linear-gradient(top,  $important-color 0%,darken($important-color, 14%) 100%);
	background-image: linear-gradient(to bottom,  $important-color 0%,darken($important-color, 14%) 100%);
    }
}
.success-color{
    background-color: $success-color;
    @if $YN-btn-gradient == true{
	background-image: -webkit-linear-gradient(top,  $success-color 0%,darken($success-color, 14%) 100%); 
	background-image: linear-gradient(to bottom,  $success-color 0%,darken($success-color, 14%) 100%);
    }
}
.error-color{
    background-color: $error-color;
    @if $YN-btn-gradient == true{
	background-image: -webkit-linear-gradient(top,  $error-color 0%,darken($error-color, 14%) 100%);
	background-image: linear-gradient(to bottom,  $error-color 0%,darken($error-color, 14%) 100%);
    }
}
.dark-color{
    background-color: $dark-color;
    @if $YN-btn-gradient == true{
	background-image: -webkit-linear-gradient(top,  $dark-color 0%,darken($dark-color, 14%) 100%);
	background-image: linear-gradient(to bottom,  $dark-color 0%,darken($dark-color, 14%) 100%);
    }
}

//COLOR FONT
.text-main{ color: $main-color; }
.text-important{ color: $important-color; }
.text-success{ color: $success-color; }
.text-error{ color: $error-color; }

//IMAGES
.polaroid{
    border: 7px solid #ffffff;
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 1px rgba(0,0,0,0.2);
}

//EFECTS
.shadow1{
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.rounded1{
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
/*perfect for input type search*/
.rounded2{
    -webkit-border-radius: 200px;
    border-radius: 200px;
}
.rounded-none{
    -webkit-border-radius: 0;
    border-radius: 0;
}
/*for circle block*/
.circle{
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

