/*typo_form.scss to manage all typo and form issues*/

/*GENERAL
-------------------------*/
.uppercase{
    text-transform: uppercase;
}

/*TITLE
-------------------------*/
    /*general*/
    h1, h2, h3, h4, h5, h6, .h1-like, .h2-like, .h3-like, .h4-like, .h5-like, .h6-like{
	font-family: inherit;
	line-height: 1;
	margin: 10px 0;
    }
    h1, .h1-like{
	font-size: 2.8em;
    }
    h2, .h2-like{
	font-size: 2.4em;
    }
    h3, .h3-like{
	font-size: 2em;
    }
    h4, .h4-like{
	font-size: 1.6em;
    }
    h5, .h5-like{
	font-size: 1.3em;
    }
    h6, .h6-like{
	font-size: 1em;
    }

    /*sub-title*/
    .cssp-sub-title{
	    color: $font-color-sub;
    }
	

/*PARAGRAPHE
--------------------------*/
p{
    margin: 0 0 10px 0;
}
.cssp-tall-para{
    text-indent: 20px;
}

/*TEXT SIZE
--------------------------*/
.catch-text{
    font-weight: bold;
    text-indent: 0;
}
.cssp-tall-text{
    font-size: 1.2em;
}
.cssp-grande-text{
    font-size: 1.3em;
}
.cssp-venti-text{
    font-size: 1.5em;
}

/*LIST
--------------------------*/
ul,ol,dl{
    @extend .default-margin-bottom;
}

        /*IE hacks*/
	.lt-ie8 ul, .lt-ie8 ol{
	    padding-left: 30px;
	}

/*LINKS
--------------------------*/
a{
    text-decoration: none;
    color: $font-color-link;
}

/*FORM
-------------------------*/
.input{
    border: 1px solid #CCC;
    padding: 8px $tall-margin;
    font-size: 0.9em;
    @extend .rounded1;
    display: inline-block;
    vertical-align: middle;
}
label{
    margin: 0 $tall-margin 0 0;
}
select{
    @extend .input;
    -webkit-appearance: none;
}
    /*default*/
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    text-area{
	@extend .input;
    }
        /*IE hacks*/
	.lt-ie8 input{
	    vertical-align: middle;
	}
    input[type="search"]{
	@extend .rounded2;
	@extend .input;
    }
    
    /*error*/
    .cssp-error input[type="text"],
    .cssp-error input[type="password"],
    .cssp-error input[type="datetime"],
    .cssp-error input[type="datetime-local"],
    .cssp-error input[type="date"],
    .cssp-error input[type="month"],
    .cssp-error input[type="time"],
    .cssp-error input[type="week"],
    .cssp-error input[type="number"],
    .cssp-error input[type="email"],
    .cssp-error input[type="url"],
    .cssp-error input[type="search"],
    .cssp-error input[type="tel"],
    .cssp-error input[type="color"],
    .cssp-error select,
    .cssp-error text-area{
	border: 2px solid $error-color;
	background: transparentize($error-color, 0.9);
    }
    input [type="submit"]{
	vertical-align: middle;
    }
    
    /*input group config*/
    .input-group-line{
	@extend .default-margin-bottom;
    }

/*CODE
--------------------------*/
pre.cssp-code{
    background-color: #000000;
    color: $font-color2;
    line-height: 1.4;
    padding: $tall-margin;
    
	code{    
	    .cssp-tag{
		color: $important-color;
	    }
	    .cssp-class{
		color: $success-color;
	    }
	    .cssp-type{
		color: $error-color;
	    }
	}
}