/*typo_form.scss to manage all typo and form issues*/

//GENERAL
a{
    text-decoration: none;
    color: $font-color-link;
}
p{
    margin-bottom: $row-tall-margin;
}

//TITLE
h1,.h1-like,
h2,.h2-like,
h3,.h3-like,
h4,.h4-like,
h5,.h5-like,
h6,.h6-like{
    line-height: 1;
    margin-top: $row-tall-margin;
    margin-bottom: $row-tall-margin;
}
h1,.h1-like{font-size: 2.8em;}
h2,.h2-like{font-size: 2.4em;}
h3,.h3-like{font-size: 2em;}
h4,.h4-like{font-size: 1.6em;}
h5,.h5-like{font-size: 1.3em;}
h6,.h6-like{font-size: 1em;}

.cssp-sub-title{
	color: $font-color-sub;
}
.uppercase{
    text-transform: uppercase;
}
	

//ALIGN
.text-left{
    text-align: left;
    }
.text-center{
    text-align: center;
    }
.text-right{
    text-align: right;
    }

//TEXT SIZE
.tall-text{
    font-size: 1.2em;
}
.grande-text{
    font-size: 1.3em;
}
.venti-text{
    font-size: 1.5em;
}

//LIST
ul,ol,dl{
    margin-bottom: $row-tall-margin;
}
        /*IE hacks*/
	.lt-ie8 ul, .lt-ie8 ol{
	    padding-left: 30px;
	}
li{
    ul,
    ol,
    {
	margin-top: 0;
	margin-bottom: 0;
    }
}
.reset-list{
    padding-left: 0;
    list-style: none;
}

//FORM
.input{
    border: 1px solid #CCC;
    padding: $row-tall-margin $col-tall-margin;
    font-size: 0.9em;
    @extend .rounded1;
    display: inline-block;
    vertical-align: top;
}
label{
    margin: 0 $col-tall-margin 0 0;
}
select{
    @extend .input;
    -webkit-appearance: none;
}
    /*default*/
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    textarea{
	@extend .input;
    }
    input[type="search"]{
	@extend .rounded2;
	@extend .input;
    }
    
    /*error*/
    .cssp-error input[type="text"],
    .cssp-error input[type="password"],
    .cssp-error input[type="datetime"],
    .cssp-error input[type="datetime-local"],
    .cssp-error input[type="date"],
    .cssp-error input[type="month"],
    .cssp-error input[type="time"],
    .cssp-error input[type="week"],
    .cssp-error input[type="number"],
    .cssp-error input[type="email"],
    .cssp-error input[type="url"],
    .cssp-error input[type="search"],
    .cssp-error input[type="tel"],
    .cssp-error input[type="color"],
    .cssp-error select,
    .cssp-error textarea{
	border: 2px solid $error-color;
	background: transparentize($error-color, 0.9);
    }
    input [type="submit"]{
	-webkit-appearance: none;
    }
    
//ICON FONT
.icon{
    text-align: center;
    font-family: 'cssparrow_icons';
    font-weight: normal;
    font-style: normal;
    cursor: help;
    
    display: inline-block;
    letter-spacing: 2px;
    line-height: inherit;
    vertical-align: baseline;
    text-align: center;
    border: 0 none !important;
}