//------------------------------------------------------------
//variable.scss is a powerful way to change colors, typo
//and sizes in your project. 
//------------------------------------------------------------

//--------------------------------------
    //LAYOUT
//--------------------------------------      
    //margin / padding
    //----------------------------
        //column margin (left,right)
        $col-tall-margin: 14px;
        $col-grande-margin: ($col-tall-margin * 2);
        $col-venti-margin: ($col-tall-margin * 4);

        //row margin (top,bottom)
        $row-tall-margin: 9px;
        $row-grande-margin: ($row-tall-margin * 2);
        $row-venti-margin: ($row-tall-margin * 4);
                       
    //cssp-wrapper
    //----------------------------
    $wrapper-width: 95%;
    $wrapper-max-width: 1300px;

    //grid span number
    //----------------------------
    $column-number: 12;
    $column-with: $col-tall-margin;


//--------------------------------------
    //STYLE
//--------------------------------------           
    //color range
    //----------------------------
        //main-color 
        $main-color: #1888AD;
        $YN-main-color-dark: true; // + ($YN-) specify if it's dark or not (to know the good font color)?
        //color-2       
        $second-color: darken($main-color, 20%);
        $YN-second-color-dark: true; // + ($YN-)
        //color-3     
        $third-color: #F2F2F2;
        $YN-third-color-dark: false; // + ($YN-)
        //dark-color  
        $dark-color: #24262A;
        $YN-dark-color-dark: true; // + ($YN-)
    
    //color information
    //----------------------------
        //color-DEFAULT      
        $default-color: #FFFFFF;
        $YN-default-color-dark: false; // + ($YN-) specify if it's dark or not (to know the good font color)? 
        //color-IMPORTANT      
        $important-color: #EDA600;
        $YN-important-color-dark: true; // + ($YN-)
        //color-SUCCESS    
        $success-color: #88AA19;
        $YN-success-color-dark: true; // + ($YN-)
        //color-ERROR           
        $error-color: #B00B00;
        $YN-error-color-dark: true; // + ($YN-)
    
    //text color
    //----------------------------   
    $font-color1: #555555;
    $font-color2: #CCCCCC;
    $font-color-sub: lighten($font-color1, 35%);
    $font-color-link: $main-color;

//--------------------------------------
    //FONT
//--------------------------------------
    //font familly
    //----------------------------
    $current-text: "Arial",Trebuchet MS,Verdana,Helvetica,Sans-Serif;

    //@font-face
    //----------------------------
    @font-face {
        font-family: 'abelregular';
        src: url('../fonts/abel-regular-webfont.eot');
        src: url('../fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/abel-regular-webfont.woff') format('woff'),
             url('../fonts/abel-regular-webfont.ttf') format('truetype'),
             url('../fonts/abel-regular-webfont.svg#abelregular') format('svg');
    }
    @font-face {
        font-family: 'cssparrow_icons';
        src: url('../fonts/icons_sparrow-webfont.eot');
        src: url('../fonts/icons_sparrow-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/icons_sparrow-webfont.woff') format('woff'),
             url('../fonts/icons_sparrow-webfont.ttf') format('truetype'),
             url('../fonts/icons_sparrow-webfont.svg#cssparrow_iconsregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }    
    
    //current text
    //----------------------------
    $line-height: 1.6em;
    $font-size: 1em;
    
//--------------------------------------
    //WIDGET
//--------------------------------------
    //buttons
    //----------------------------
    $YN-btn-border-radius: true; // + ($YN-) display border-radius ?
    $YN-btn-border: true; // + ($YN-) display border ?
    $YN-btn-gradient: false; // + ($YN-) display gradient ?
    $btn-border-radius: 3px;
    
    //navigation bar
    //----------------------------
    $nav-bar-height: 55px;
    $YN-nav-bar-border: true; // + ($YN-) display border ?
    
    
    


