/*------------------------------------------------------------
variable.scss is a powerful way to change colors, typo
and sizes in your project. 
------------------------------------------------------------*/

//--------------------------------------
    //GENERAL
//--------------------------------------

    //margin / padding
    //----------------------------
        $tall-margin: 14px;
        
        //other margin
        $venti-margin: ($tall-margin * 4);
        $grande-margin: ($tall-margin * 2);
    
            //IE grid gutter
            $ie-margin: 1.5%;
                            
    //cssp-wrapper
    //----------------------------
        $wrapper-width: 95%;
        $wrapper-max-width: 1200px;
        
    //font system
    //----------------------------
        $current-text: "Arial",Trebuchet MS,Verdana,Helvetica,Sans-Serif;
          
    //color range
    //----------------------------
        //main-color
        $main-color: #D1C585;
        //color-2        
        $second-color: darken($main-color, 30%);
        //color-3       
        $third-color: #F2F2F2;
        //dark-color     
        $dark-color: #24262A;
    
    //color information
    //----------------------------
        //color-DEFAULT      
        $default-color: #FFFFFF;
        //color-IMPORTANT      
        $important-color: #F4A535;
        //color-SUCCESS    
        $success-color: #8AB66B;
        //color-ERROR           
        $error-color: #C93A3A;
    
    //text color
    //----------------------------   
        $font-color1: #555555;
        $font-color2: #CCCCCC;
        $font-color-sub: lighten($font-color1, 50%);
        $font-color-link: $main-color;
        
//--------------------------------------
    //WIDGET
//--------------------------------------

    //navigation
    //----------------------------
        //height
        $main-nav-height: 45px;


