/*GENERAL
-------------*/
#home-page{
    background: $third-color;
}

    /*Demo container*/
    #cssparrow-container{
        margin: -$venti-margin auto 0 auto;
        background: #FFFFFF;
        padding: 0 0 $venti-margin 0;
    }
        /*IE hacks*/ 
        .lt-ie8 #demo-container{width: 980px;}



/*HEADER
-------------*/
    body>header{
        background-image: rgb(17,109,137); /* Old browsers */
        background-image: -moz-linear-gradient(top,  rgba(17,109,137,1) 0%, rgba(13,80,107,1) 100%); /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,109,137,1)), color-stop(100%,rgba(13,80,107,1))); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(top,  rgba(17,109,137,1) 0%,rgba(13,80,107,1) 100%); /* Chrome10+,Safari5.1+ */
        background-image: -o-linear-gradient(top,  rgba(17,109,137,1) 0%,rgba(13,80,107,1) 100%); /* Opera 11.10+ */
        background-image: -ms-linear-gradient(top,  rgba(17,109,137,1) 0%,rgba(13,80,107,1) 100%); /* IE10+ */
        background-image: linear-gradient(to bottom,  rgba(17,109,137,1) 0%,rgba(13,80,107,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116d89', endColorstr='#0d506b',GradientType=0 ); /* IE6-9 */
        background-color: $main-color;
        @extend .container-clear;
    
        
            div{
                width: 93%; 
                margin: 0 auto;
                    
                    h2{
                        color: #FFFFFF;
                        font-size: 5em;
                    }
                    span{
                        display: block;
                        color: rgba(255,255,255,0.7);
                        font-size: 1.4em;
                        font-weight: 100;
                        margin: 0 0 $grande-margin 0;
                    }
                    .span7{ 
                        margin: $venti-margin 0 ($venti-margin*2) 0;
                    }
                    .thumbnail{ 
                        text-align: right; 
                    
                            img{
                                max-width: 100%; 
                            }
                            
                    }
            }
    }
    

    /*Typo*/
    
    /*Footer*/
    footer#main-footer{
        padding: ($tall-margin * 2) 0;
        min-height: 200px;
    }
    
    .demo-tinkerbin{
        display: block;
        @extend .container-clear;
    }


    /*MEDIAQUERY
    -------------*/
    @media handheld, only screen and (max-width: 900px) {
        body>header>div{ 
            h2{
                font-size: 2.8em;
                padding: 0;  
            }
            .king-size{
                    padding: (($tall-margin) /1.3)($tall-margin);
                    font-size: 1em;
            }
        }
    }
    @media handheld, only screen and (max-width: 768px) {
    
        body>header{
            padding: $venti-margin 0;
            background-image: rgb(17,109,137); /* Old browsers */
            background-image: -moz-linear-gradient(top,  rgba(17,109,137,1) 0%, rgba(13,80,107,1) 100%); /* FF3.6+ */
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,109,137,1)), color-stop(100%,rgba(13,80,107,1))); /* Chrome,Safari4+ */
            background-image: -webkit-linear-gradient(top,  rgba(17,109,137,1) 0%,rgba(13,80,107,1) 100%); /* Chrome10+,Safari5.1+ */
            background-image: -o-linear-gradient(top,  rgba(17,109,137,1) 0%,rgba(13,80,107,1) 100%); /* Opera 11.10+ */
            background-image: -ms-linear-gradient(top,  rgba(17,109,137,1) 0%,rgba(13,80,107,1) 100%); /* IE10+ */
            background-image: linear-gradient(to bottom,  rgba(17,109,137,1) 0%,rgba(13,80,107,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116d89', endColorstr='#0d506b',GradientType=0 ); /* IE6-9 */
            
                div {
                    text-align: center;
                    
                        .span7{ 
                            margin: 0;
                        }
                }                
        }
    }
