/*DEMO
-------------*/
#demo-page{
    background: $secondary-color;
}

/*Demo container*/
.demo-container{
    margin: -$venti-margin auto 0 auto;
    background: #FFF;
}
        /*ie hacks*/ 
        .lt-ie8 .demo-container{
            margin: -$venti-margin auto 0 auto;
            background: #FFF;
            width: 980px;
        }

/*Grid*/
#grid{
    [class*="span"]>span{
        display: block;
        background: #CCC;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #FFF;
    }
    .row{
        margin: 0 0 $grande-margin 0;
    }
    .row:last-child{
        margin: 0;
    }
}

/*Navigation*/
    body>nav{
        background: #34363A;
        position: fixed;
        top: 0;
        
            a{
                color: #FFF;
            }
    }

/*Forms*/
#forms>form{
    padding: 0 $grid-col-padding;
}
/*Buttons*/
#buttons a[class^="button"]{
    display: inline-block;
}

/*Section*/
section>h2{
    @extend .uppercase;
}

/*Header*/
body>header{
    padding: ($venti-margin * 4) 0 ($venti-margin * 3.7) 0;
    background-color: $main-color;
    @extend .general-gradient; 
    
        &>div{
            width: 90%; 
            margin: 0 auto;
            text-align: center;
            
                h2{
                    color: #FFF;
                    margin: 0 0 $venti-margin 0 !important;
                    
                        span{
                            display: block;
                            font-size: 0.7em;
                            text-transform: none;
                        }
                }
        }
}

/*Footer*/
footer#main-footer{
    background: #34363A;
    padding: ($grid-col-padding * 2) 0;
    margin: ($venti-margin * 2) 0 0 0;
    min-height: 200px;
}

.demo-tinkerbin{
    display: block;
    @extend .container-clear;
}


/*MEDIAQUERY
-------------*/
@media handheld, only screen and (max-width: 750px) {

    body .wrapper section#grid .row:last-child a{
        margin: 0 0 $grande-margin 0;
    }
    
}
