@import "normalize";
@import "variable";
@import "layout";
@import "typo_form";
@import "style";
@import "mediaquery";

    //@import "your_page_style_here";
    @import "myglobal";
    @import "myhome";
    @import "myelements";

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    line-height: 1.6;
    color: $font-color1;
}