@import "_normalize";
@import "_variable";
body{
    font-size: $font-size;
    line-height: $line-height;
    color: $font-color1;
    font-family: $current-text;
    background: $third-color;
}
@import "_layout";
@import "_typo_form";
@import "_style";

    //import all specific cases here;
    @import "___myelements";

/*MEDIAQUERY
-------------*/
@media handheld, only screen and (max-width: 979px) {
    @import "__tablet_style";
}
@media handheld, only screen and (max-width: 767px) {
    @import "__phone_style";
}