@import "_normalize";
@import "_variable";
@import "_layout";
@import "_typo_form";
@import "_style";
@import "_mediaquery";

    //import all specific cases here;
    @import "___myelements";
    
body{
    font-size: $font-size;
    line-height: $line-height;
    color: $font-color1;
    font-family: $current-text;
    background: $third-color;
}