/*layout.scss is the elements position stylesheet*/
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/*WRAPPER
-------------*/
.cssp-wrapper{
    position: relative;
    margin: 0 auto;
    width: 93%;
    max-width: 1300px;
    z-index: 100;
    @extend .container-clear;
}
.cssp-section{
    margin: $venti-margin 0 0 0;
    padding: 0 $grande-margin;
    
        &:first-child{
            margin: $grande-margin 0 0 0;
        }
}


        /*IE hacks*/
	.lt-ie8 .wrapper{
            width: 980px;
        }
        

/*GRID
-------------*/
.row{
    @extend .container-clear;
}
[class*="span"] {
    float: left;
    padding: 0 $tall-margin; 
}

        /*IE hacks*/
        .lt-ie8 [class*="span"] {
            padding: 0 ($ie-margin/1.09); 
        }

.span1 {width: (100% / 12);}
.span2 {width: (100% / 6);}
.span3 {width: (100% / 4);}
.span4 {width: (100% / 3);}
.span5 {width: ((100% / 12)*5);}
.span6 {width: (100% / 2);}
.span7 {width: ((100% / 12)*7);}
.span8 {width: ((100% / 12)*8);}
.span9 {width: ((100% / 12)*9);}
.span10 {width: ((100% / 12)*10);}
.span11 {width: ((100% / 12)*11);}
.span12 {width: (100%);float: none;}

        /*IE hacks*/
            .lt-ie8 .span1 {width: (100% / 12)-($ie-margin*2);}
            .lt-ie8 .span2 {width: (100% / 6)-($ie-margin*2);}
            .lt-ie8 .span3 {width: (100% / 4)-($ie-margin*2);}
            .lt-ie8 .span4 {width: (100% / 3)-($ie-margin*2);}
            .lt-ie8 .span5 {width: ((100% / 12)*5)-($ie-margin*2);}
            .lt-ie8 .span6 {width: (100% / 2)-($ie-margin*2);}
            .lt-ie8 .span7 {width: ((100% / 12)*7)-($ie-margin*2);}
            .lt-ie8 .span8 {width: ((100% / 12)*8)-($ie-margin*2);}
            .lt-ie8 .span9 {width: ((100% / 12)*9)-($ie-margin*2);}
            .lt-ie8 .span10 {width: ((100% / 12)*10)-($ie-margin*2);}
            .lt-ie8 .span11 {width: ((100% / 12)*11)-($ie-margin*2);}
            .lt-ie8 .span12 {width: (100%)-($ie-margin*4);}


/*FLOAT
-------------*/ 
.container-clear{
    overflow: hidden;
    zoom: 1; /*IE hacks*/
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}

/*LOGO
-------------*/  
h1#main-logo{
    position: relative;
    width: 20%;
        a{
            display: block;
            width: 100%;
            overflow: hidden;
                
                img{
                    width: 100%;
                }
        }
        span{ 
            position: absolute;
            left: -2000%;
            font-size: 0px;
            color: transparent;
        }
}

/*NAVIGATION
-------------------------*/
.cssp-main-nav{
    height: 45px;
    width: 100%;
    z-index: 200;
    
        &>div{ 
            margin: 0 auto;
            padding: 0;
            @extend .container-clear;
                
                h1{
                    float: left;
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: capitalize;
                    margin: 0;
                    
                        a{
                            display: inline-block;
                            line-height: 45px;
                        }
                }
                ul{
                    margin: 0;
                    width: auto;
                    
                        li{
                            display: inline;
                            
                                a{
                                    display: inline-block;
                                    line-height: 45px;
                                    padding: 0 $grande-margin;
                                }
                        }
                }
        }
}

/*THUMBNAIL
-------------------------*/
.cssp-thumbnail{
    max-width: 100%;
    }
        /*IE hacks*/
        .lt-ie8 .cssp-thumbnail{
            width: 100%;
        }
    
/*display NONE (or not)
-------------------------*/
.visibility-desktop-false{
    display: none;
}