/*mediaquery.scss to target differents devices*/

/*MEDIAQUERY
-------------*/
@media handheld, only screen and (max-width: 768px) {
    /*LAYOUT
    ---------------------*/
    .cssp-wrapper{
        width: 100%;
        margin: 0 auto !important;
        
            &>section{
                padding: 0 $grande-margin;
            }
    }
    [class*="span"] {
        width: 100%;
        padding: 0;
        margin: 0 0 $tall-margin 0;
    }
    .table3row{
        display: block;
        
            .cell{
                display: block;
                width: 100%;
            }
    } 
    
    /*TYPO
    ---------------------*/
    h1, .h1-like{
        font-size: 2.3em;
        @extend .uppercase;
    }
    h2, .h2-like{
        font-size: 2.1em;
    }
    h3, .h3-like{
        font-size: 1.9em;
    }
    
    /*FORM
    --------------------*/
    form{
        width: 100%;
        display: block;
    }
    
    /*STYLE
    ----------------------*/
    .bloc-level-1{
        margin: 0 0 $tall-margin 0;
    } 
    
    /*NAVIGATION
    ----------------------*/
    .cssp-main-nav{
        height: auto;
        position: relative;
        
            &>div{ 
                width: 100%;
                
                    &>h1{
                        margin: 0 0 0 $grande-margin;
                    }
                    &>label{
                        float: right;
                        margin: 0 $grande-margin 0 0;
                        line-height: 45px;
                        color: $font-color2;
                    }
                    &>input[type="checkbox"]{
                        position: absolute;
                        top: -9999px;
                        left: -9999px;
                        z-index: -10;
                        line-height: 0;
                        visibility: hidden;
                        opacity: 0;
                        height: 0;
                        width: 0;
                    }
                    &>ul{
                        padding: 0;
                        float: none;
                        text-align: center;
                        clear: both;
                
                            
                            li{
                                display: block;
                                
                                    a{
                                        display: block;
                                        height: 0;
                                        overflow: hidden;
                                        border-left: none;
                                        border-top: 0px solid rgba(150,150,150,0.5);
                                        transition: all 0.4s cubic-bezier(0.94, 0.06, 0.36, 0.68);
                                        -moz-transition: all 0.4s cubic-bezier(0.94, 0.06, 0.36, 0.68);
                                        -webkit-transition: all 0.4s cubic-bezier(0.94, 0.06, 0.36, 0.68);
                                        -ms-transition: all 0.4s cubic-bezier(0.94, 0.06, 0.36, 0.68);
                                        -o-transition: all 0.4s cubic-bezier(0.94, 0.06, 0.36, 0.68);
                                    }
                                    &:last-child a{
                                        border-right: none;
                                        border-bottom: 1px solid rgba(150,150,150,0.5);
                                    }
                            }
                    }
            }
    }

    .cssp-main-nav div input[type="checkbox"]:checked~ul li a{
        border-top: 1px solid rgba(150,150,150,0.5);
        height: 50px;
    }
    
    /*VISIBILITY
    ----------------------*/
    .visibility-mobile-false{display: none;}
    .visibility-mobile-true{display: inherit;}
}
