//mediaquery.scss to target differents devices

/*MEDIAQUERY
-------------*/
@media handheld, only screen and (max-width: 750px) {
    //LAYOUT
    //---------------------
    .wrapper{
        width: 100%;
        margin: 0 auto !important;
        
            &>section{
                padding: 0 $grande-margin;
            }
    }
    .section-like{
        padding: 0 $grande-margin;  
    }
    .row{
        margin: 0!important;
    }
    [class*="span"] {
        width: 100%;
        padding: 0;
        margin: 0 0 $tall-margin 0;
    }
    .table3row{
        display: block;
        
            .cell{
                display: block;
                width: 100%;
            }
    } 
    
    //FORM
    //--------------------
    form{
        width: 100%;
        display: block;
    }
    
    //STYLE
    //----------------------
    .bloc-level-1{
        margin: 0 0 $tall-margin 0;
    } 
    
    //NAVIGATION
    //----------------------
    .main-nav-band{
        height: auto;
        position: inherit;
        
            &>div{ 
                width: 100%;
                @extend .container-clear;
                
                    &>a{
                        float: right;
                        line-height: 50px;
                        font-size: 2em;
                    }
                    
                    &>ul{
                        margin: 0;
                        padding: 0;
                        width: auto;
                        height: 0;
                        float: none;
                        text-align: center;
                        clear: both;
                            
                            &:target{
                                height: auto;
                            }
                            
                            li{
                                display: block;
                                
                                    a{
                                        display: block;
                                        line-height: 50px;
                                        padding: 0 $grande-margin;
                                        border-top: 1px solid #000;
                                        border-left: none;
                                    }
                                    
                                    &:last-child a{
                                        border-bottom: 1px solid #000;
                                        border-right: none;
                                    }
                            }
                    }
            }
    }
    
    //VISIBILITY
    //----------------------
    .visibility-mobile-true{
        display: inherit;
    }
}
