//style.scss is the look and feel stylesheet

/*STYLE
-------------*/
/*block*/
.bloc-level-1{
    background: $secondary-color;
    padding: ($grid-col-padding * 2);
}

/*buttons*/
.btn{
    display: inline-block;
    padding: $tall-margin $tall-margin ($tall-margin + 1) $tall-margin;
    margin: 0 $tall-margin $tall-margin 0;
    font-size: 0.9em;
    color: $font-color1;
    @extend .transition1;
    @extend .rounded1;
    @extend .button-shadow;
    border-style: solid;
    border-width: 1px;
    
    &:hover{
        @extend .button-shadow-focus;
    }
}
.button{
    color: $font-color1;
    border-color: $border-color1;
    @extend .btn;
    @extend .secondary-color-gradient;

    &:hover{
        background: #EEE;
    }
}
.button-important{
    color: #FFF;
    border-color: #EA8C00;
    @extend .btn;
    @extend .main-color-gradient;

    &:hover{
        background: #FC9700;
    }
}
.button-success{
    color: #FFF;
    border-color: #28632C;
    @extend .btn;
    @extend .success-color-gradient;

    &:hover{
        background: #68995A;
    }
}
.button-dark{
    color: #FFF;
    border-color: #2E354F;
    @extend .btn;
    @extend .dark-color-gradient;

    &:hover{
        background: #3f4c6b;
    }
}
ul.buttons-block{
    padding: 0;
    display: inline-block;  
    
        li{
            list-style: none;
            display: inline;
            
                &:last-child a{
                    -moz-border-radius: 0 3px 3px 0;
                    -webkit-border-radius: 0 3px 3px 0;
                    -ms-border-radius: 0 3px 3px 0;
                    -o-border-radius: 0 3px 3px 0;
                    border-radius: 0 3px 3px 0;
                }
                &:first-child a{
                    -moz-border-radius: 3px 0 0 3px;
                    -webkit-border-radius: 3px 0 0 3px;
                    -ms-border-radius: 3px 0 0 3px;
                    -o-border-radius: 3px 0 0 3px;
                    border-radius: 3px 0 0 3px;
                    border-left-width: 1px;
                }
                a{
                    @extend .rounded-none; 
                    @extend .button;
                    margin: 0 !important;
                    border-left-width: 0;
                }
        }
}
/*error*/
.error input[type="text"],
.error input[type="password"],
.error input[type="datetime"],
.error input[type="datetime-local"],
.error input[type="date"],
.error input[type="month"],
.error input[type="time"],
.error input[type="week"],
.error input[type="number"],
.error input[type="email"],
.error input[type="url"],
.error input[type="search"],
.error input[type="tel"],
.error input[type="color"],
.error select{
    border: 2px solid $error-color;
}


//@EXTEND
//-------------*/
/*transition*/
.transition1{
    -moz-transition: box-shadow 0.4s ease-in-out;
    -webkit-transition: box-shadow 0.4s ease-in-out;
    -ms-transition: box-shadow 0.4s ease-in-out;
    -o-transition: box-shadow 0.4s ease-in-out;
    transition: box-shadow 0.4s ease-in-out;
}

/*gradient*/
.secondary-color-gradient{
    background: #ffffff; // Old browsers
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); // FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); // Chrome,Safari4+
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); // Chrome10+,Safari5.1+
    background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); // Opera 11.10+
    background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); // IE10+
    background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); // W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); // IE6-9
}
.main-color-gradient{
    background: #ffbd60; // Old browsers
    background: -moz-linear-gradient(top,  #ffbd60 0%, #fc9700 100%); // FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbd60), color-stop(100%,#fc9700)); // Chrome,Safari4+
    background: -webkit-linear-gradient(top,  #ffbd60 0%,#fc9700 100%); // Chrome10+,Safari5.1+
    background: -o-linear-gradient(top,  #ffbd60 0%,#fc9700 100%); // Opera 11.10+
    background: -ms-linear-gradient(top,  #ffbd60 0%,#fc9700 100%); // IE10+
    background: linear-gradient(to bottom,  #ffbd60 0%,#fc9700 100%); // W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbd60', endColorstr='#fc9700',GradientType=0 ); // IE6-9
}
.success-color-gradient{
    background: #8ab66b; // Old browsers
    background: -moz-linear-gradient(top,  #8ab66b 0%, #68995a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ab66b), color-stop(100%,#68995a)); // Chrome,Safari4+
    background: -webkit-linear-gradient(top,  #8ab66b 0%,#68995a 100%); // Chrome10+,Safari5.1+
    background: -o-linear-gradient(top,  #8ab66b 0%,#68995a 100%); // Opera 11.10+ 
    background: -ms-linear-gradient(top,  #8ab66b 0%,#68995a 100%); // IE10+
    background: linear-gradient(to bottom,  #8ab66b 0%,#68995a 100%); // W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ab66b', endColorstr='#68995a',GradientType=0 ); // IE6-9
}
.dark-color-gradient{
    background: #606c88; // Old browsers
    background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%); // FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); // Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); // Chrome10+,Safari5.1+
    background: -o-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); // Opera 11.10+
    background: -ms-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); // IE10+
    background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%); // W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); // IE6-9
}

/*box-shadow*/
.shadow1{
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -o-border-radius: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.button-shadow{
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset, 0 -2px 0 rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset, 0 -2px 0 rgba(0,0,0,0.2) inset;
    -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset, 0 -2px 0 rgba(0,0,0,0.2) inset;
    -o-border-radius: 0 1px 0 rgba(255,255,255,0.5) inset, 0 -2px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset, 0 -2px 0 rgba(0,0,0,0.2) inset;
}
.button-shadow-focus{
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
    -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
    -o-border-radius: 0 1px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
}

/*rounded*/
.rounded1{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.rounded2{
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
.rounded-none{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}