/*typo_form.scss to manage all typo and form issues*/

/*GENERAL
-------------------------*/
.uppercase{
    text-transform: uppercase;
}
.cssp-margin-bottom{
    margin: 0 0 $tall-margin 0;
}

/*TITLE
-------------------------*/
    /*general*/
    h1, h2, h3, h4, h5, h6, .h1-like, .h2-like, .h3-like, .h4-like, .h5-like, .h6-like{
	font-family: inherit;
	line-height: 1;
	margin: $tall-margin 0;
    }
    h1, .h1-like{
	font-size: 2.8em;
    }
    h2, .h2-like{
	font-size: 2.4em;
    }
    h3, .h3-like{
	font-size: 2em;
    }
    h4, .h4-like{
	font-size: 1.6em;
    }
    h5, .h5-like{
	font-size: 1.3em;
    }
    h6, .h6-like{
	font-size: 1em;
    }

    /*sub-title*/
    .cssp-sub-title{
	    color: $font-color-sub;
    }
	

/*PARAGRAPHE
--------------------------*/
p{
    @extend .cssp-margin-bottom;
}
.cssp-tall-para{
    text-indent: 20px;
}

/*TEXT SIZE
--------------------------*/
.catch-text{
    font-weight: bold;
    text-indent: 0;
}
.cssp-tall-text{
    font-size: 1.2em;
    @extend .catch-text;
}
.cssp-grande-text{
    font-size: 1.3em;
    @extend .catch-text;
}
.cssp-venti-text{
    font-size: 1.5em;
    @extend .catch-text;
}

/*LIST
--------------------------*/
ul,ol,dl{
    @extend .cssp-margin-bottom;
}

/*LINKS
--------------------------*/
a{
    text-decoration: none;
    color: $font-color-link;
    
        &:focus,&:hover{
    
        }
}

/*FORM
-------------------------*/
.input{
    border: 1px solid #CCC;
    padding: 8px $tall-margin;
    font-size: 0.9em;
    @extend .rounded1;
    margin: 0 $tall-margin $tall-margin 0;
    display: inline-block;
    vertical-align: middle;
}
label{
    margin: 0 0 $tall-margin 0;
    display: block;
}
select{
    @extend .input;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
    @extend .input;
}
input[type="search"]{
    @extend .rounded2;
    @extend .input;
}

/*error*/
.error input[type="text"],
.error input[type="password"],
.error input[type="datetime"],
.error input[type="datetime-local"],
.error input[type="date"],
.error input[type="month"],
.error input[type="time"],
.error input[type="week"],
.error input[type="number"],
.error input[type="email"],
.error input[type="url"],
.error input[type="search"],
.error input[type="tel"],
.error input[type="color"],
.error select{
    border: 2px solid $error-color;
    background: transparentize($error-color, 0.9);
}

/*CODE
--------------------------*/
pre.cssp-code{
    background-color: #000000;
    color: $font-color2;
    line-height: 1.4;
    padding: $tall-margin;
    
	code{
	    .cssp-tag{
		color: $important-color;
	    }
	    .cssp-class{
		color: $success-color;
	    }
	    ol{
	    }
	}
}