//variable.scss is the easiest way to change colors, proportions and sizes

$grid-col-padding: 1%;
$tall-margin: 10px;

//other margin
    $venti-margin: ($tall-margin * 4);
    $grande-margin: ($tall-margin * 2);


//color
$main-color: #FF993B;
$secondary-color: #EEE;
$error-color: #F00;
$border-color1: #CCC;

$font-color1: #555;

$font-link: #32628C;


