// FONT
// --------------------------------------

$font-size: 100%;
$line-height: 1.5rem; 

//font familly
$current-text: "Helvetica", Verdana, Sans-Serif;
$heading-text: "Helvetica", Verdana, Sans-Serif;

// LAYOUT
// --------------------------------------  

// margin / padding
$col-margin: 15px;
$row-margin: $line-height;
                   
// cssp-wrapper
$wrapper-max-width: 990px;

// grid span number
$column-number: 12;
$column-with: $col-margin;

// COLOR
// --------------------------------------  

$main-color: #ff9657;    
$tonic-color: #efeddf;
$dark-color: #203b50;   
$light-color: #203b50;

// color alert  
$important-color: #edcf43;   
$success-color: #00a877;     
$error-color: #f47245;

// text color  
$default-font: #777777;
$heading-font: #222222;
$light-font: #999999;
$link-font: #B5B5B5;

// BREAK POINTS
// --------------------------------------
$s-break: 767px;
$m-break: 1050px;
$l-break: 1300px;
