body {
	position: relative;
    font-size: $font-size;
    line-height: $line-height;
    color: $main-font-color;
    font-family: $current-text;
    background: $general-background;
}
.view-title {
	position: absolute;
	top: 0;
	left: $col-margin;
	line-height: $nav-bar-height !important;
}