//typo_form.scss to manage all typo and form style

// GENERAL
// -----------
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: $font-color-link;
}
p{ margin-bottom: $row-margin/2; }

// TITLE
// -----------
h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-weight: normal;
    font-style: normal;
    color: $heading-color; 
        &.mb0 { margin-bottom: 0; }
        &.mt0 { margin-top: 0; }
}
h1,
.h1-like{ @include title-pattern($heading-text, 3.25rem, $line-height*2.2); }
h2,
.h2-like{ @include title-pattern($heading-text, 1.875rem, $line-height*2.2); }
h3,
.h3-like{ @include title-pattern($heading-text, 1.375rem, $line-height*1); }
h4,
.h4-like { @include title-pattern($heading-text, 1rem, $line-height); }

// TEXT SIZE
// --------------
.text-big { font-size: 1.125rem; } 
.text-little { font-size: 0.75rem; } 

// TEXT STYLE
// --------------
.sub-text { color: $font-color-sub; }
.uppercase { text-transform: uppercase; }
.underline { text-decoration: underline; }
.text-through { text-decoration: line-through; } 
strong,
.bold { font-weight: bold; }

// TEXT ELLIPSIS
// --------------
// Manage text overflow
.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

// TEXT ALIGN
// --------------
.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }

// LIST
// -------------
ul,
ol,
dl{ padding-left: 18px; }
li{
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.reset-list{
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

// FORM
// ------------
// default
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    @include ui-element(1.4, 2);
    @extend .rounded1;
    line-height: normal;
    vertical-align: top;
    border: 1px solid rgba(0,0,0,0.1);
}

textarea { 
    padding: $col-margin;
    border: 1px solid rgba(0,0,0,0.1);
}

// error
input[type="text"].error,
input[type="password"].error,
input[type="datetime"].error,
input[type="datetime-local"].error,
input[type="date"].error,
input[type="month"].error,
input[type="time"].error,
input[type="week"].error,
input[type="number"].error,
input[type="email"].error,
input[type="url"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="color"].error,
select.error,
textarea.error{
    color: $error-color !important;
	border: 2px solid $error-color !important;
}
input[type="submit"] {  
    -webkit-appearance: none; 
    border: solid 0px transparent;
}
input[type="number"] {  
    width: 5.625rem;
        &::-webkit-inner-spin-button {
            display: inline-block;
            padding: 0 0 0 $col-margin; 
        }
}

// input size
input[type="text"].big-input,
input[type="password"].big-input,
input[type="datetime"].big-input,
input[type="datetime-local"].big-input,
input[type="date"].big-input,
input[type="month"].big-input,
input[type="time"].big-input,
input[type="week"].big-input,
input[type="number"].big-input,
input[type="email"].big-input,
input[type="url"].big-input,
input[type="search"].big-input,
input[type="tel"].big-input,
input[type="color"].big-input {
    @include ui-element(1.8, 3);
    line-height: normal;
    font-size: 1.125rem; 
}

// label
label,
.label-like { font-weight: bold; }

// SCREEN READER TEXT
// --------------------------
// See: http://a11yproject.com/posts/how-to-hide-content/
.screen-reader {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
