//typo_form.scss to manage all typo and form issues

//GENERAL
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: $font-color-link;
}
p{ margin-bottom: $row-margin; }

//TITLE
h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like {
    margin-top: 14px;
    margin-bottom: 14px;
    font-weight: normal;
    font-style: normal;
    color: $heading-color; 
        &.mb0 { margin-bottom: 0; }
        &.mt0 { margin-top: 0; }
}
h1,
.h1-like{ @include title-pattern($heading-text, 42px, $line-height*3); }
h2,
.h2-like{ @include title-pattern($heading-text, 30px, $line-height*2.2); }
h3,
.h3-like{ @include title-pattern($heading-text, 18px, $line-height*1.3); }
h4,
.h4-like { @include title-pattern($heading-text, 16px, $line-height); }
.sub-text { color: $font-color-sub; }
.uppercase { text-transform: uppercase; }
.underline { text-decoration: underline; }
.text-break { word-wrap: break-word; }
.ellipsis {
    @extend .block;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.hyphens {    
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
         -o-hyphens: auto;
            hyphens: auto;
}
.text-inherit { @include text-hierarchy($font-size, $line-height); }
.text-big { @include text-hierarchy(18px, $line-height*1.3); } 
.text-little { 
    font-family: 'Arial',Sans-serif !important;
    @include text-hierarchy(12px, 14px);
} 

//ALIGN
.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }

//TEXT STYLE
strong { font-weight: bold; }
.text-through { text-decoration: line-through; } 
.italic { font-style: italic; } 

//LIST
ul,ol,dl{ padding-left: 18px; }
li{
    ul,
    ol,
    {
	margin-top: 0;
	margin-bottom: 0;
    }
}
.reset-list{
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

//FORM
.input{
    height: $line-height*2;
    padding: 0 $col-margin;
    @extend .rounded1;
    vertical-align: top;
    border: 2px solid rgba(0,0,0,0.1);
}

// default
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] { @extend .input; }

// full width
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
textarea { @extend .f-width; }

input[type="search"] { 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;       
}

textarea { 
    padding: $col-margin;
    border: 2px solid rgba(0,0,0,0.1);
}

// error
input[type="text"].error,
input[type="password"].error,
input[type="datetime"].error,
input[type="datetime-local"].error,
input[type="date"].error,
input[type="month"].error,
input[type="time"].error,
input[type="week"].error,
input[type="number"].error,
input[type="email"].error,
input[type="url"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="color"].error,
select.error,
textarea.error{
    color: $error-color !important;
	border: 2px solid $error-color !important;
}
input[type="submit"] {  
    -webkit-appearance: none; 
    border: solid 0px transparent;
}
input[type="number"] {  
    width: 90px;
        &::-webkit-inner-spin-button {
            display: inline-block;
            padding: 0 0 0 $col-margin; 
        }
}

// input size
input[type="text"].big-input,
input[type="password"].big-input,
input[type="datetime"].big-input,
input[type="datetime-local"].big-input,
input[type="date"].big-input,
input[type="month"].big-input,
input[type="time"].big-input,
input[type="week"].big-input,
input[type="number"].big-input,
input[type="email"].big-input,
input[type="url"].big-input,
input[type="search"].big-input,
input[type="tel"].big-input,
input[type="color"].big-input {
    height: $line-height*2.5;
    font-size: 1.28571429rem;
    line-height: $line-height*1.5;   
}

// label
label,
.label-like { font-family: "Helvetica", Arial, Sans-serif; }

// Icons font
// Use the following CSS code if you want to use data attributes for inserting your icons
[data-icon]:before {
    display: inline;
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-size: 16px;
    text-transform: none;
    line-height: $line-height;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}

// Screen reader text
// See: http://a11yproject.com/posts/how-to-hide-content/
.screen-reader {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
