//UI ELEMENTS
@mixin ui-element($multiply-padding, $multiply-line-height) {
    display: inline-block;
    height: $line-height * $multiply-line-height;
    padding: 0 ($col-margin * $multiply-padding);
    line-height: $line-height * $multiply-line-height;
}

@mixin button() {
    color: $main-font-color;
    background-color: #eeeeee;
    border: none;
    -webkit-transition: background 0.3s cubic-bezier(.94,.33,.26,.57);
            transition: background 0.3s cubic-bezier(.94,.33,.26,.57);
        &:hover,
        &:focus{ background: darken(#ffffff, 10%); }
}

@mixin button-border() { 
    color: $main-font-color;
    background: transparent !important;
    -webkit-transition: background 0.3s cubic-bezier(.94,.33,.26,.57);
       -moz-transition: background 0.3s cubic-bezier(.94,.33,.26,.57);
            transition: background 0.3s cubic-bezier(.94,.33,.26,.57);
    -webkit-box-shadow: 0 0 0 1px $main-font-color;
            box-shadow: 0 0 0 1px $main-font-color;
        &:hover,
        &:focus { background: rgba($main-font-color, 0.1) !important; }
}

//THEME BACKGROUND & COLOR
@mixin theme-color($bg-color,$font-color) { 
    background-color: $bg-color; 
    color: $font-color;
        &.btn {
            color: $font-color;
            background-color: $bg-color;
            border-color: darken($bg-color, 15%);
                &:hover,
                &:focus{  background: darken($bg-color, 7%); }           
        }
        &.btn-border {
            color: $bg-color;
            -webkit-box-shadow: 0 0 0 1px $bg-color;
                    box-shadow: 0 0 0 1px $bg-color;
                &:hover,
                &:focus{ background: rgba($bg-color, 0.1) !important; }   
        }
}