//UI ELEMENTS
@mixin ui-element($btn-padding, $btn-line-height) {
    display: inline-block;
    height: $btn-line-height;
    padding: 0 $btn-padding;
    line-height: $btn-line-height;
}

//THEME BACKGROUND & COLOR
@mixin theme-color($bg-color,$font-color) { 
    background-color: $bg-color; 
    color: $font-color;
        &.btn {
            color: $font-color;
            background-color: $bg-color;
            @if $YN-btn-border == true{ 
                border: 1px solid;
                border-color: darken($bg-color, 15%);
            }
                &:hover,
                &:focus{  background: darken($bg-color, 7%); }           
        }
}