//UI ELEMENTS
@mixin ui-element($multiply-padding, $multiply-line-height) {
    @extend .inline;
    padding: 0 ($col-margin * $multiply-padding);
    height: $line-height * $multiply-line-height;
    line-height: $line-height * $multiply-line-height;
}

@mixin button() {
    color: $main-font-color;
    background-color: #eeeeee;
    border: none;
    @if $YN-btn-border-radius == true{ border-radius: $btn-border-radius; }
    -webkit-transition: background 0.3s cubic-bezier(.94,.33,.26,.57);
            transition: background 0.3s cubic-bezier(.94,.33,.26,.57);
            &:hover,&:focus{
                cursor: pointer;
                background: darken(#ffffff, 10%);
            }
}

@mixin btn-border($color) { 
    color: $color;
    border: 2px solid $color;
    background: transparent;
    -webkit-transition: color 0.3s ease-out, border 0.3s cubic-bezier(.94,.33,.26,.57);
            transition: color 0.3s ease-out, border 0.3s cubic-bezier(.94,.33,.26,.57);
        &:hover {
            color: darken($color,15%);
            border: 2px solid darken($color,10%);
            background: transparent;        
        }
}

//THEME BACKGROUND & COLOR
@mixin theme-color($bg-color,$font-color) { 
    background-color: $bg-color; 
    color: $font-color;
        &.btn {
            color: $font-color;
            background-color: $bg-color;
            border-color: darken($bg-color, 15%);
                &:hover,
                &:focus{  background: darken($bg-color, 7%); }           
        }
}

// HIGHLIGHTED TEXT
@mixin hightlight($line-height,$padding,$space) { 
    @extend .relative;
    display: inline;
    line-height: $line-height;
    left: $padding;
    padding: $space $padding;
    background: rgba($main-color,0.8);
    box-shadow: $padding 0 0 rgba($main-color,0.8),  
                $padding*-1 0 0 rgba($main-color,0.8);
}