// Navigation with panel system
// --------------------------------------------------
// /!\ This module need panel_nav.js to works

// variable
$panel-width: 280px;

// Set body and html tags with full height allow to use a panel navigation system
body,
html { 
	height: 100%;
	overflow-x: hidden;
}

// /!\ Important: Wrap your content inside .container-wrapper
.container-wrapper {
	position: relative;
	height: 100%;
	z-index: 3;
	background: $general-background;
	-webkit-transform: translate(0px, 0px, 0px);
	   -moz-transform: translate(0px, 0px, 0px);
			transform: translate(0px, 0px, 0px);
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(.94,.33,.26,.57);
	   -moz-transition:    -moz-transform 0.3s cubic-bezier(.94,.33,.26,.57);
			transition: 		transform 0.3s cubic-bezier(.94,.33,.26,.57);	
}

// style
.panel-nav--panel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: $panel-width;
		nav li { line-height: 2.4; }
}

// When panel is open
.main-nav-open .container-wrapper {
	overflow: hidden;
	-webkit-transform: translate3d($panel-width, 0px, 0px);
	   -moz-transform: translate3d($panel-width, 0px, 0px);
			transform: translate3d($panel-width, 0px, 0px);
}
