//info-bulle
[data-bulle] {
    position: relative;
    @include tooltip();
}

// Explanation box (most of them in the builder)
.bulle-explain {
    @extend .absolute;
    width: 280px;
    padding: 34px 34px 44px 34px;
    z-index: 4;
    font-size: 14px !important;
    color: $main-font-color;
    background: #ffffff;
    -webkit-box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
            box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
        &:after {
            content: '\25B2';
            position: absolute;
            font-size: 22px;
            color: #ffffff;
            text-shadow: 0 -4px 0 rgba(0,0,0,0.1);
            -webkit-transform: scaleX(2);
                    transform: scaleX(2);
        }
        .skip {
            top: 10px;
            right: 16px;
                [data-icon]:before { font-size: 12px; }
        }
        .exp-next {
            bottom: 10px;
            right: 16px;
        }
}