// INIT BOX CALCULATION
// ----------------------

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

// WRAPPER
// ------------

.wrapper {
	margin: 0 auto;
    width: 100%;
    max-width: $wrapper-max-width;
}

// GRID
// ------------

@include column-system("");
@media screen and (min-width: $s-break) { @include column-system('s-'); }
@media screen and (min-width: $m-break) { @include column-system('m-'); }
@media screen and (min-width: $l-break) { @include column-system('l-'); }

// Basic row and column system
.row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	   -moz-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
		&>[class*="col"] {	
			padding-left: $col-margin;
			padding-right: $col-margin;
		}
		&>[class*="push"] { 
			position: relative; 
		}
		.row { 
			margin-left: -$col-margin;
			margin-right: -$col-margin;
		}
}

// UTILITIES
// ------------

// Clearfix 
.clearfix { 
	overflow: hidden; 
}

// Float 
.fl--r { float: right; }
.fl--l { float: left; }

// Vertical align middle
.v-middle-box {
	display: table;
	height: 100%;
		&>* {
			display: table-cell;
			height: 100%;
			vertical-align: middle;
		}
}

// Fit to the container
.full--h { height: 100%; }
.full--w { width: 100%; }

// Adjust container size to the content size
.adjust { display: table; }

// Vertical alignment 
.v--top { vertical-align: top; }
.v--middle { vertical-align: middle; }
.v--bottom { vertical-align: bottom; }

// IMAGES
// -------------

.img--flex {
    max-width: 100%;
    height: auto;
}

// MARGIN SYSTEM
// ------------------

// Inspired by: http://www.knacss.com/
@include margin-system("");
@media screen and (min-width: $s-break) { @include margin-system('s-'); }
@media screen and (min-width: $m-break) { @include margin-system('m-'); }
@media screen and (min-width: $l-break) { @include margin-system('l-'); }

// PADDING SYSTEM
// -----------------

// Inspired by: http://www.knacss.com/
@include padding-system("");
@media screen and (min-width: $s-break) { @include padding-system('s-'); }
@media screen and (min-width: $m-break) { @include padding-system('m-'); }
@media screen and (min-width: $l-break) { @include padding-system('l-'); }

// VISIBILITY
// ---------------

.hide { display: none !important; }

@media screen and (min-width: $s-break) { 
	.s-visibility-false {display: none !important;}
	.s-visibility-true {display: inherit !important;}
}
@media screen and (min-width: $m-break) { 
	.m-visibility-false{display: none !important;}
	.m-visibility-true {display: inherit !important;}
}
@media screen and (min-width: $l-break) { 
	.l-visibility-false{display: none !important;}
	.l-visibility-true {display: inherit !important;}
}


