// style.scss is the look and feel stylesheet

// BOX & BAR
// ---------------
.box { padding: $col-margin*2; }
.bar {
    height: $nav-bar-height;
    line-height: $nav-bar-height;
}

// BUTTONS
// ---------------
.btn {
    @include ui-element(21px, 44px);
    color: $main-font-color;
    background-color: darken($second-color, 5%);
    -webkit-transition: background 0.2s cubic-bezier(.94,.33,.26,.57);
            transition: background 0.2s cubic-bezier(.94,.33,.26,.57);
    @if $YN-btn-border-radius == true{ 
        border-radius: $btn-border-radius; 
    }
    @if $YN-btn-border == true{ 
        border: 1px solid;
        border-color: darken($second-color, 15%);
    }
        &:hover,
        &:focus{ background: darken($second-color, 10%); }
}

// take all width
.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

// size btn
.small-ui {
    @include ui-element(18px, 31px);
    font-size: 0.75rem;
}
.big-ui {
    @include ui-element(30px, 52px);
    font-size: 1.125rem;
}

// COLOR THEME
// ---------------
// main color set
.main-color { @include theme-color($main-color, #ffffff); }
.second-color { @include theme-color($second-color, $main-font-color); }
.third-color { @include theme-color($third-color, #ffffff); }
.dark-color { @include theme-color($dark-color, #ffffff); }
.white-color { @include theme-color(#ffffff, $main-font-color); }
.important-color { @include theme-color($important-color, $main-font-color); } 
.success-color { @include theme-color($success-color, #ffffff); }
.error-color { @include theme-color($error-color, #ffffff); }

// COLOR FONT
.text-default { color: $main-font-color !important; }
.text-main { color: $main-color !important; }
.text-second { color: $second-color !important; }
.text-third { color: $third-color !important; }
.text-dark { color: $dark-color !important; }
.text-white { color: #ffffff !important; }
.text-gray { color: $light-font-color !important; }
.text-important { color: $important-color !important; }
.text-success { color: $success-color !important; }
.text-error { color: $error-color !important; }

// ABLE DISABLE
.disable { 
    opacity: 0.3;
    cursor: default !important;
}

// SHADOW
// -------------
.shadow1 { box-shadow: 0 0 0 2px rgba(0,0,0,0.1); }
.shadow2 { box-shadow: 0 0 3px rgba(0,0,0,0.2); }
.shadow3 { box-shadow: 0 2px 3px rgba(0,0,0,0.2); }

// ROUNDED
// -------------
// General 
.rounded1 { border-radius: 2px; }
.rounded2 { border-radius: 4px; }

// Perfect circle 
.circle { border-radius: 50%; }

// Circle to the edges
.circle-edge { border-radius: 500px; }

// MISC
// ------------
// border
.border-top { border-top: solid 1px rgba(0,0,0,0.1); }
.border-bottom { border-bottom: solid 1px rgba(0,0,0,0.1); }
.border-left { border-left: solid 1px rgba(0,0,0,0.1); }
.border-right { border-right: solid 1px rgba(0,0,0,0.1); }

// Clickable
.clickable { cursor: pointer; }

// Code
pre {
    @extend .box;
    @extend .rounded2;
    color: lighten($dark-color, 50%);
    background: $dark-color;
}

// Text selection
::selection {
    background: $main-color;
    color: #ffffff;
    text-shadow: none; 
}