// BUTTONS
// ---------------

.btn {
    @include ui-element(21px, 44px);
    color: $light-font;
    background-color: darken($default-font, 5%);
    transition: background 0.2s cubic-bezier(.94,.33,.26,.57);
        &:hover,
        &:focus{ background: darken($default-font, 10%); }
}

    // transformers
    .btn--block {
        display: block;
        width: 100%;
        text-align: center;
    }
    .btn--small {
        @include ui-element(18px, 31px);
        font-size: 0.75rem;
    }
    .btn--big {
        @include ui-element(30px, 52px);
        font-size: 1.125rem;
    }

// THEME COLOR
// ---------------

.bg--main { background-color: $main-color; }
.bg--second { background-color: $tonic-color; }
.bg--dark { background-color: $dark-color; }
.bg--light { background-color: $light-color; }

// Alert colors set
.bg--important { background-color: $important-color; } 
.bg--success { background-color: $success-color; }
.bg--error { background-color: $error-color; }

// FONT COLOR
// ---------------

.txt--default { color: $default-font; }
.txt--heading { color: $heading-font; }
.txt--main { color: $main-color; }
.txt--tonic { color: $tonic-color; }
.txt--white { color: #ffffff; }
.txt--light { color: $light-font; }

// Alert text colors
.txt--important { color: $important-color; }
.txt--success { color: $success-color; }
.txt--error { color: $error-color; }

// STATEMENT
// --------------

.disable { 
    opacity: 0.3;
    cursor: default !important;
}
.clickable { 
    opacity: 1;
    cursor: pointer !important; 
}

// MISC
// ------------

// Rounded
.rounded { border-radius: 2px; }
.circle { border-radius: 50%; }
.circle-edge { border-radius: 1000px; }