// GENERAL
// -----------
a{
    text-decoration: none;
    color: $link-font;
}
p{ 
    margin-bottom: ($line-height / 2); 
}

// TITLE
// -----------

h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like
h5,
.h5-like {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    font-weight: normal;
    font-style: normal;
}
h1,
.h1-like{ @include title-pattern($heading-text, 3.25rem, $line-height*2.2); }
h2,
.h2-like{ @include title-pattern($heading-text, 1.875rem, $line-height*2.2); }
h3,
.h3-like{ @include title-pattern($heading-text, 1.375rem, $line-height*1); }
h4,
.h4-like { @include title-pattern($heading-text, 1rem, $line-height); }
h5,
.h5-like { @include title-pattern($heading-text, 1rem, $line-height); }

// TEXT STYLE
// --------------

// Text size
.txt--big { font-size: 1.25rem; } 
.txt--small { font-size: 0.75rem; } 

// Misc transformers
.txt--uppercase { text-transform: uppercase; }
.txt--underline { text-decoration: underline; }
.txt--through { text-decoration: line-through; } 
.txt--bold,
strong
 { font-weight: bold; }

// TEXT ELLIPSIS
// --------------

// Manage text overflow
.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

// TEXT ALIGN
// --------------

.txt--left{ text-align: left; }
.txt--center{ text-align: center; }
.txt--right{ text-align: right; }

// LIST
// -------------

.reset-list{
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

// FORM
// ------------
// default
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    @include ui-element(21px, 44px);
    line-height: normal;
    vertical-align: top;
    border: 1px solid rgba(0,0,0,0.1);
}

textarea { 
    padding: $col-margin;
    border: 1px solid rgba(0,0,0,0.1);
}

// error
input[type="text"].error,
input[type="password"].error,
input[type="datetime"].error,
input[type="datetime-local"].error,
input[type="date"].error,
input[type="month"].error,
input[type="time"].error,
input[type="week"].error,
input[type="number"].error,
input[type="email"].error,
input[type="url"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="color"].error,
select.error,
textarea.error{
    color: $error-color !important;
	border: 2px solid $error-color !important;
}
input[type="submit"] {  
    -webkit-appearance: none; 
    border: solid 0px transparent;
}
input[type="number"] {  
    width: 5.625rem;
        &::-webkit-inner-spin-button {
            display: inline-block;
            padding: 0 0 0 $col-margin; 
        }
}

// input size
input[type="text"].big-ui,
input[type="password"].big-ui,
input[type="datetime"].big-ui,
input[type="datetime-local"].big-ui,
input[type="date"].big-ui,
input[type="month"].big-ui,
input[type="time"].big-ui,
input[type="week"].big-ui,
input[type="number"].big-ui,
input[type="email"].big-ui,
input[type="url"].big-ui,
input[type="search"].big-ui,
input[type="tel"].big-ui,
input[type="color"].big-ui {
    @include ui-element(27px, 52px);
    line-height: normal;
    font-size: 1.125rem; 
}

// label
label,
.label-like { font-weight: bold; }

// SCREEN READER TEXT
// --------------------------

// See: http://a11yproject.com/posts/how-to-hide-content/
.screen-reader {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

// TEXT SELECTION
// ---------------------

::selection {
    background: $main-color;
    color: #ffffff;
    text-shadow: none; 
}
