/* Stylesheet for overview pages */

/* LAYOUT VIEW */
.centerize-element--height { height: 200px; border: 2px solid #dddddd; }
.big--block { 
	padding-top: 40px; 
	padding-bottom: 40px;
}
.mix-grid>* { padding: 10px; }
.mix-grid [class*="column"]>span {
	padding-top: 105px; 
	padding-bottom: 105px;
}
/* Style for exemple block */
.doc-demo--block {
	display: block;
	padding: 11px 0;
}

/* Inline + vertical align demo */
.doc-demo--tallest-block { padding: 46px; }

/* Color box */
.doc-box--container { 
	padding: 5px;
}
.doc-box--color { height: 100px; }